<div class="container-courses">
  <div class="heading-u">
      <p>My Courses</p>
  </div>
  <div class="row">
    {{#if fetchMyCoursesTask.isRunning}}
      {{loading-card}}
    {{else}}
        {{#each runs as |run index|}}
            <div class="card-layout col-md-4 col-sm-6">
                <div class="card o-layout-card ">

                    <div data-completed="false" class="status-circle">
                        <div class="circle-back">
                            <div class="circle-front">
                                <p class="progress-text">{{percent-complete runAttemptId=run.topRunAttempt.id}}%</p>
                            </div>
                        </div>
                    </div>

                    <div class="header">
                        <div class="card-image o-image-card">
                            <img src="{{defaultTo run.course.logo '/images/c++'}}">
                        </div>

                        <h1 class="card-heading o-text-card">
                            {{#link-to 'courses.id' run.course.identifier activeClass=""}} {{run.course.title}} {{/link-to}}
                        </h1>

                        <h2 class="card-text">
                            {{run.course.subtitle}}
                        </h2>
                    </div>


                    <div class="card-mentor">
                        <div class="card-mentor-image">
                            {{#each run.course.instructors as |instructor index|}}
                                {{#if (lt index 2) }}
                                    <img class="card-mentors" src="{{instructor.photo}}">
                                {{/if}}
                            {{/each}}
                        </div>
                        <div class="card-mentor-text">
                            <span>Instructors</span>
                            <div class="card-mentor-name">
                                {{#each run.course.instructors as |instructor index|}}
                                    {{#if (lt index 2)}}
                                        {{instructor.name}}{{if (and (gt run.course.instructors.length 1) (eq index 0)) "," ""}}
                                    {{/if}}
                                {{/each}}

                                {{#if (gt run.course.instructors.length 2)}}
                                    <span class="price"> +{{sub course.instructors.length 2}}</span> more
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div class="card-mentor-divider"></div>

                    <div class="price-detail row align-items-center no-gutters">
                        <div class="col-6">
                            <div class="card-price-details">
                                <div class="card-batches">
                                   {{run.name}}
                                  {{#unless run.topRunAttempt.premium}}
                                    <div class="red">Free Trial</div>
                                  {{/unless}}
                                </div>
                            </div>
                        </div>

                        <div class="button-parent col-6">
                            <div class="button-solid">
                                {{#link-to "classroom.timeline" run.course.id run.id tagName="button" activeClass=""}}
                                    Resume
                                {{/link-to}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
      {{/if}}  
  </div>
</div>
