<div class="accordian-head no-gutters" {{action 'toggle'}}>
	{{#if announcement}}
	<div class="flex-row">
		<div class="accordian-collapsar">
			<i class="fas fa-{{if collapsed 'plus' 'minus'}}"></i>
		</div>
		<div class="img-desc flex-row">
			<div class="round-img">
				<img src="{{announcement.user.photo}}" alt="{{announcement.user.firstname}}">
			</div>
			<div>
				<div class="heading-d">
					<div class="main-h">
						{{announcement.title}}
					</div>
					<div class="sub-h">
						{{announcement.user.firstname}} {{announcement.user.lastname}} |
						{{announcement.elapsedTime}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex-row">
		<div class="notify-type">
			<div class="notify-icon">
				<span class="notify-dot new"></span>
				<img src="/images/announcement-dark.png" alt="">
			</div>
		</div>
	</div>
  {{else}}

    <div class="li-left flex-row">
        <div class="accordian-collapsar">
            {{if collapsed '+' '-'}}
        </div>
        <div class="accordian-heading">
            {{title}}
        </div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center col-3">

        {{#if (eq type "info")}}
        	{{#if total}}
	        <div class="lecture-count">
	          {{total}} Contents
	        </div>
	        {{else}}
	        <div class="lecture-count">
	          More content to be added
	        </div>
	        {{/if}}
	        {{#unless hideDuration}}
			{{#if duration}}
				<div class="duration">
					<span>{{format-duration duration 'humanizeShort'}}</span>
				</div>
			{{else}}
				<div class="duration">
					<span>User-Specific</span>
				</div>
			{{/if}}
		{{/unless}}
        {{else}}
        <div class="lecture-count">
          <span class="completed">{{completed}}</span> / {{total}}
        </div>
		{{#if deadline}}
			<div class="red card-md">
				Deadline {{moment-format deadline 'DD-MMM-YY'}}
			</div>
		{{/if}}
        {{/if}}
    </div>
  {{/if}}
</div>

{{#liquid-spacer growDuration=250 growWidth=false class="black-background"}}
{{#unless collapsed}}
    {{yield}}
{{/unless}}
{{/liquid-spacer}}
