<div class="accordian-head" {{action 'toggle'}}>
	{{#if announcement}}
	<div class="flex-row">
		<div class="accordian-collapsar">
			<i class="fas fa-{{if collapsed 'plus' 'minus'}}"></i>
		</div>
		<div class="img-desc flex-row">
			<div class="round-img">
				<img src="{{announcement.user.photo}}" alt="{{announcement.user.firstname}}">
			</div>
			<div>
				<div class="heading-d">
					<div class="main-h">
						{{announcement.title}}
					</div>
					<div class="sub-h">
						{{announcement.user.firstname}} {{announcement.user.lastname}} |
						{{announcement.elapsedTime}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="flex-row">
		<div class="notify-type">
			<div class="notify-icon">
				<span class="notify-dot new"></span>
				<img src="/images/announcement-dark.png" alt="">
			</div>
		</div>
	</div>
  {{else}}

    <div class="li-left flex-row">
        <div class="accordian-collapsar">
            {{if collapsed '+' '-'}}
        </div>
        <div class="accordian-heading">
            {{title}}
        </div>
    </div>

    <div class="flex-row">
        <div class="accordian-status">
            <span class="completed">{{completed}}</span> / {{total}}
        </div>
    </div>
  {{/if}}
</div>

{{#liquid-spacer growDuration=250 class="black-background"}}
{{#unless collapsed}}
    {{yield}}
{{/unless}}
{{/liquid-spacer}}
