<div class="accordian-head" {{action 'toggle'}}>
    <div class="li-left flex-row">
        <div class="accordian-collapsar">
            {{if collapsed '+' '-'}}
        </div>
        <div class="accordian-heading">
            {{title}}
        </div>
    </div>

    <div class="flex-row">
        <div class="accordian-status">
            <span class="completed">{{completed}}</span>/ {{total}}
        </div>
    </div>
</div>

{{#liquid-spacer growDuration=250 class="black-background"}}
{{#unless collapsed}}
    {{yield}}
{{/unless}}
{{/liquid-spacer}}