<div class="border-card br-20 mb-5 mb-lg-0">
  <div class="img-desc">
    <div class="col-3 pl-0 my-auto">
      <img src={{job.company.logo}} alt={{job.company.name}}>
    </div>
    <div class="description col-9">
      <div>
        <h4>{{job.title}}</h4>
        <div class="font-mds">
          {{job.company.name}}
        </div>
      </div>
      <div class="grey">
        Posted {{moment-from-now job.postedOn}}
      </div>
    </div>
  </div>
  <div class="divider-h mt-4 mb-4"></div>

  <div class="d-flex font-sm mb-3">
    <div class="col-6 pl-0">
      <div class="mb-3">
        Job Location: <span class="extra-bold">{{job.location}}</span>
      </div>
      <div class="mb-3 pl-0">
        Job Type: <span class="extra-bold">{{job.type}}</span>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-3">
        Experience: <span class="extra-bold">{{job.experience}}</span>
      </div>
      <div>
        CTC: <span class="extra-bold">{{job.ctc}}</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <span class="red">Deadline: {{ job.deadlineStr }}</span>
    <EnsureLoginButton class="button-solid button-orange" @action={{action "goToJob"}} >View</EnsureLoginButton>
  </div>
</div>