<div class="d-flex align-items-center">
  <img src="{{currentUser.user.photo}}" alt="user photo" class="round s-50x50">
  <div class="ml-4">
    <div class="bold">{{currentUser.user.fullName}}</div>
    <div class="font-xs">{{moment-from-now doubt.createdAt}}</div>
  </div>
</div>
<div class="mt-4">
  <h3 class="bold word-wrap overflow-hidden">{{doubt.title}}</h3>
  <p class="word-wrap overflow-hidden">{{doubt.body}}</p>
</div>
<div class="mt-4 row mx-0">
  <form 
    class="input-search px-3 py-2 bg-grey-darker col-md-8"
    {{action (perform commentTask) on="submit"}}>
    <Input 
      @value={{commentBody}}
      @disabled={{commentTask.isRunning}}
      type="text" 
      placeholder="Press enter to reply" 
      class="w-100" />
  </form>
  <div class="col-md-4 d-flex align-items-center justify-content-center font-sm">
    {{#if (eq doubt.status "RESOLVED")}}
      <button {{action "markStatus" "PENDING"}} class="red bold">
        Reopen Doubt
      </button>
    {{else}}
      <button {{action "markStatus" "RESOLVED"}} class="green bold">
        <FaIcon @icon="check" /> Mark as Resolved
      </button>
    {{/if}}
    {{#if (eq doubt.status "ACKNOWLEDGED")}}
      <button class="orange bold ml-4" {{action "startChat"}}>
        Chat with TA
      </button>
    {{/if}}
  </div>
</div>
{{#if err}}
  <div class="red card-md">
    <FaIcon @icon="exclamation-triangle" /> {{{err}}}
  </div>
{{/if}}
<div class="mt-4 gradient-text-orange">
  <a href="#" {{action "toggleReplies"}}>
    {{if showReplies "Hide" "Show"}} Replies
  </a>
</div>

{{#if showReplies}}
  {{#if doubt.comments.length}}
    <div class="ml-5 py-4 b-left b-grey">
      {{#each doubt.comments as |comment|}}
        <div class="ml-4">  
          <div class="d-flex align-items-center">
            <img src="{{comment.avatarTemplate}}" alt="user photo" class="round s-50x50">
            <div class="ml-3">
              <div class="bold">{{comment.name}}</div>
              <div class="font-xs">{{moment-from-now comment.createdAt}}</div>
            </div>
          </div>
          <div class="mt-4">
            <p>{{markdown-to-html comment.body}}</p>
          </div>
          <div class="divider-h my-4"></div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <h2 class="mt-4">No Replies Yet</h2>
  {{/if}}
{{/if}}

{{#if showFeedbackModal}}
  <ModalDialog 
    @translucentOverlay={{true}} 
    @targetAttachment="none"
    @containerClass='centered-scrolling-container bg-dark-grey'
    @overlayClass='centered-scrolling-overlay'
    @wrapperClass='centered-scrolling-wrapper'
    @onClose={{action (mut showFeedbackModal) false}}>
    <DoubtFeedback 
      @doubt={{doubt}} 
      @onSave={{action (mut showFeedbackModal) false}} />
  </ModalDialog>
{{/if}}
