<div class="o-pb">
  <div class="pb-desk">
    <div class="tab-nav">
      {{#link-to "attempt.content" (query-params tab="problem") tagName="div" class="tab-items"}} Problem {{/link-to}}
      {{#link-to "attempt.content" (query-params tab="submissions") tagName="div" class="tab-items"}} Submissions {{/link-to}}
      {{#link-to "attempt.content" (query-params tab="leaderboard") tagName="div" class="tab-items"}} Leaderboard {{/link-to}}
    </div>

    {{#if (eq tabName 'problem')}}
      {{#problem-statement-component problem=problem}}{{/problem-statement-component}}
    {{else if (eq tabName 'leaderboard')}}
      {{#leaderboard-component code=code}}{{/leaderboard-component}}
    {{else if (eq tabName 'submissions')}}
      {{#submissions-component problemPayload=problemJsonApiPayload}}{{/submissions-component}}
    {{/if}}
  </div>
  <div id="dragger-ps-ce"></div>
  {{#code-editor runCodeTask=runCodeTask submitCodeTask=submitCodeTask stubs=codeStubs}}
  {{/code-editor}}
</div>


{{!--
<div>
  {{textarea value=sourceCode placeholder="Source Code"}}
  {{textarea value=customInput placeholder="Custom Input"}}
  <button type="button" class="button-solid" onclick={{action 'runCode'}}>
    Run
  </button>
    <button type="button" class="button-solid" onclick={{action 'submitCode'}}>
    Submit
  </button>
</div>


  {{#if customOutput}}
    <p> Output: {{customOutput}} </p>
  {{else if runError}}
    <p> Output: {{runError}} </p>
  {{/if}}
</div>

{{#if problemJsonApiPayload}}
  <p>
    {{problem.name}}
    {{problem.content.description}}
  </p>

  {{#each codeStubs as |stub|}}
    <p>{{stub.body}}</p>
  {{/each}}
{{/if}}
--}}