<div class="c-pb">
  <div class="pb-desk">
    <div class="tab-nav">
      {{#link-to "attempt.content" (query-params tab="problem") tagName="div" class=(concat "tab-items " (if (eq tabName 'problem') 'active') )}} Problem {{/link-to}}
      {{#link-to "attempt.content" (query-params tab="submissions") tagName="div" class=(concat "tab-items " (if (eq tabName 'submissions') 'active') )}} Submissions {{/link-to}}
      {{#link-to "attempt.content" (query-params tab="leaderboard") tagName="div" class=(concat "tab-items " (if (eq tabName 'leaderboard') 'active') )}} Leaderboard {{/link-to}}
    </div>
    {{#if (eq tabName 'problem')}}
      {{#problem-statement-component problem=problem}}{{/problem-statement-component}}
    {{else if (eq tabName 'leaderboard')}}
      {{#leaderboard-component code=code run=run}}{{/leaderboard-component}}
    {{else if (eq tabName 'submissions')}}
      {{#submissions-component problemPayload=problemJsonApiPayload}}{{/submissions-component}}
    {{/if}}
  </div>
  <div id="dragger-ps-ce"></div>
  {{#code-editor runCodeTask=runCodeTask submitCodeTask=submitCodeTask stubs=codeStubs code=code toggleModal="toggleModal"}}
  {{/code-editor}}
</div>


{{!--
<div>
  {{textarea value=sourceCode placeholder="Source Code"}}
  {{textarea value=customInput placeholder="Custom Input"}}
  <button type="button" class="button-solid" onclick={{action 'runCode'}}>
    Run
  </button>
    <button type="button" class="button-solid" onclick={{action 'submitCode'}}>
    Submit
  </button>
</div>


  {{#if customOutput}}
    <p> Output: {{customOutput}} </p>
  {{else if runError}}
    <p> Output: {{runError}} </p>
  {{/if}}
</div>

{{#if problemJsonApiPayload}}
  <p>
    {{problem.name}}
    {{problem.content.description}}
  </p>

  {{#each codeStubs as |stub|}}
    <p>{{stub.body}}</p>
  {{/each}}
{{/if}}
--}}

{{#if isShowingModal}}
{{#modal-dialog

translucentOverlay=true
targetAttachment='none'
containerClass='centered-scrolling-container'
overlayClass='centered-scrolling-overlay'
wrapperClass='centered-scrolling-wrapper'
}}
{{#if code.editorial}}
<div class="p-3">
  <div class="red row justify-content-between">
    <div>
      Editorial: {{code.name}}
    </div>
    <div class="grey">
      <button {{action 'toggleModal'}}>X</button>
    </div>
  </div>
  
  <div>
    {{{code.editorial.content}}}
  </div>
</div>
{{else}}
  <div class="t-align-c pl-5 pr-5 pt-4 pb-4">
    <i class="fas fa-lock fa-3x mb-4"></i>
    <div class="font-md mb-3">
      Unlock Editorial
    </div>
    <div class="grey mb-4">
      You will not be awarded any points for solutions to this particular
      problem once you unlock the editorial!
    </div>
    <div class="red mb-4">
      Do you want to continue?
    </div>
    <div class="row justify-content-center">
      <button class="pr-3 pointer" {{action 'toggleModal'}}>No, Go Back</button>
      <button class="button-solid" {{action 'fetchEditorial'}}>Yes, Continue</button>
    </div>
    {{#if err}}
    <div class="red mt-4">{{{err}}}</div>
    {{/if}}
  </div>
{{/if}}
{{/modal-dialog}}
{{/if}}