<div class="o-pb">
  <div class="pb-desk">
    <div class="tab-nav">
      <div class="tab-list">
        <div class="tab-items">
          <div class="tab-items active">Problem</div>
          <div class="tab-items">Submissions</div>
          <div class="tab-items">Leaderboard</div>
        </div>
      </div>

    </div>
    <div class="o-pb-statement">
      {{#problem-statement-component problem=problem}}{{/problem-statement-component}}
    </div>
  </div>
  <div id="dragger-ps-ce"></div>
  {{#code-editor runCodeTask=runCodeTask submitCodeTask=submitCodeTask}}
  {{/code-editor}}
</div>


{{!-- 
<div>
  {{textarea value=sourceCode placeholder="Source Code"}}
  {{textarea value=customInput placeholder="Custom Input"}}
  <button type="button" class="button-solid" onclick={{action 'runCode'}}>
    Run
  </button>
    <button type="button" class="button-solid" onclick={{action 'submitCode'}}>
    Submit
  </button>
</div>


  {{#if customOutput}}
    <p> Output: {{customOutput}} </p>
  {{else if runError}}
    <p> Output: {{runError}} </p>
  {{/if}}
</div>

{{#if problemJsonApiPayload}}
  <p>
    {{problem.name}}
    {{problem.content.description}}
  </p>

  {{#each codeStubs as |stub|}}
    <p>{{stub.body}}</p>
  {{/each}}
{{/if}}
--}}