<div class="overview-container">
    <!-------------------------------------------Recent Activity----------------------------------->
    <div class="heading-u">
        Recent Activity
    </div>

    <div class="container-fluid pl-0 pr-0">
        <div class="o-overview-recent row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="heading">Recent Doubts</div>
                  <div class="row">
                    <div class="notify-type col-2">
                      <div class="notify-icon">
                        <span class="notify-dot"></span>
                        <img src="/images/doubt.png" alt="">
                      </div>
                    </div>
                    <div class="card-text col-10 align-self-center">
                      All the recent doubts asked by your peers will be
                      displayed here !
                    </div>
                  </div>
                    <div class="pull-right">
                      {{#link-to 'classroom.timeline.doubts' tagName='div'}}
                        Browse
                        All{{/link-to}}
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6">
              <div class="card">
                <div class="heading">Announcements</div>
                {{#unless announcements.length}}
                  <div class="row">
                    <div class="notify-type col-2">
                      <div class="notify-icon">
                        <span class="notify-dot new"></span>
                        <img src="/images/announcement.png" alt="">
                      </div>
                    </div>
                    <div class="card-text col-10 align-self-center">
                      Coding Blocks Online New Design Released!
                    </div>
                  </div>
                {{/unless}}
                {{#each announcements as |announcement|}}
                <div class="row">
                  <div class="notify-type col-2">
                    <div class="notify-icon">
                      <span class="notify-dot new"></span>
                      <img src="/images/announcement.png" alt="">
                    </div>
                  </div>
                  <div class="card-text col-10 align-self-center">
                    {{announcement.text}}
                  </div>
                </div>
                {{/each}}
                <div class="pull-right">
                 {{#link-to 'classroom.timeline.announcements' tagName='div'}}
                   Browse
                   All{{/link-to}}
                </div>
              </div>

            </div>

        </div>
    </div>

    <!-------------------------------------------About this course----------------------------------->
    <div class="heading-u">
        About This Course
    </div>
  <div class="o-overview-course">
    <div class="row no-gutters flex-wrap-reverse">
      <div class="course-features col-12 col-md-5">
        <div class="row no-gutters justify-content-center">
          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/content-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            100+ lecture Video Content
          </div>

          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/revise-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            Re-visit and Revise topics
          </div>
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/certificate-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            Certification of Completion
          </div>

          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/support-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            24x7 mentor support
          </div>
        </div>

      </div>

      <div class="classroom-para col-12 offset-md-1 col-md-5">
        {{run.course.summary}}
      </div>
    </div>

  </div>

    <!-------------------------------------------About Instructors----------------------------------->
    <div class="heading-u">
        About Instructors
    </div>

    <div class="o-about-instructors">
        <div class="row no-gutters">
            {{#each course.instructors as |instructor|}}
                <div class="col-md-6 col-sm-12">
                    <div class="img-desc row no-gutters">
                        <div class="col-4">
                        <div class="img-container">
                            <div class="round-img">
                            <img src="{{instructor.photo}}" alt="photo of {{instructor.name}}">
                            </div>
                        </div>

                        </div>


                        <div class="description col-8">
                        <div class="heading-d">
                            <div class="main-h">
                            {{instructor.name}}
                            </div>
                            <div class="sub-h">
                            Mentor, Coding Blocks
                            </div>
                        </div>

                        <div class="classroom-para">
                            {{instructor.description}}
                        </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    {{!-- <div class="container">
      {{#feedback-component feedback=course.feedback course=course}}
      {{/feedback-component}}
    </div> --}}
</div>
