<div class="row">
  <div class="col-md-9 col-12">
    <div class="border-card p-sm-5 p-4 mb-5">
      <div class="row no-gutters align-items-center">
        <div class="col-sm-8 col-7">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img src="{{course.logo}}" alt="{{course.title}}">
            </div>
            <div class="col-9">
              <h5 class="bold">{{course.title}}</h5>
              <div class="font-normal mt-2">
                Mentor: 
                {{#each course.instructors as |instructor index|}}
                  {{#if index}}, {{/if}} {{instructor.name}}
                {{/each}}
                Prateek Narang
              </div>
            </div>
          </div>
        </div>
        <div class="t-align-r col-sm-4 col-5">
          <span class="font-normal">Leave a rating: </span>
          <RatingStars 
            @course={{course}}
            @showModal={{true}}
            @isShowingModal={{showFeedback}}
            @initialRating={{userRating}} />
        </div>
      </div>
      <div class="divider-h mt-4 mb-5"></div>

      <div>
        <h4 class="bold">Course Progress</h4>
        <div class="mt-4 pt-2">
          <WAsync
            @task={{fetchProgressTask}}
            @autoFire="true" as |prog|>
            <div class="row no-gutters align-items-center justify-content-between position-relative">
              <progress value="{{prog.percent}}" max="100" class="d-inline-block w-90 progress-orange"></progress>

              {{!-- % * 0.9 to compensate for 90% width of progress bar --}}
              <div class="progress-lock" style="left: {{goodiesLockOffset}}%">
                <div class="bg-light-grey br-25 card-sm font-normal p-2 progress-lock__bubble">Complete {{runAttempt.run.goodiesThreshold}}% to claim goodies</div>
                {{#if (gte prog.percent runAttempt.run.goodiesThreshold)}}
                  <FaIcon 
                    @icon="lock-open"
                    class="mt-2 gradient-text-green" />
                {{else}}
                  <FaIcon 
                    @icon="lock"
                    class="mt-2 gradient-text-pink" />
                {{/if}}
              </div>

              <div class="progress-lock" style="left: {{certificateLockOffset}}%">
                <div class="bg-light-grey br-25 card-sm font-normal p-2 progress-lock__bubble">Complete {{runAttempt.run.completionThreshold}}% to get certified</div>
                {{#if (gte prog.percent runAttempt.run.completionThreshold)}}
                  <FaIcon 
                    @icon="lock-open"
                    class="mt-2 gradient-text-green" />
                {{else}}
                  <FaIcon 
                    @icon="lock"
                    class="mt-2 gradient-text-pink" />
                {{/if}}
              </div>
              <div class="bold">{{prog.percent}}%</div>
            </div>
          </WAsync>
        </div>
      </div>

      <button class="card-md font-normal salmon mt-3 d-block" {{action "resetProgress"}}>
        <i class="fas fa-exclamation-triangle mr-2"></i>
        Reset Progress
      </button>

      <div class="divider-h my-5"></div>

      <div class="row no-gutters justify-content-between align-items-center">
        <div class="col-sm-6 col-12 mb-sm-0 mb-3">
          <div class="font-normal salmon">
            {{#if runAttempt.premium}}
              {{#if runAttempt.isExpired}}
                Expired
              {{else}}
                Batch Ends {{moment-format runAttempt.endDate 'DD-MMM-YY'}}
              {{/if}}
            {{else}}
              Free Trial
            {{/if}}
          </div>
        </div>
        <div>
          {{#if showBuyNow}}
            {{#link-to "courses.id" run.course.identifier activeClass="" class="button-solid button-orange mr-4" invokeAction=(action 'log' 'Buy now' run.course.identifier preventDefault=false)}}
              Buy Now
            {{/link-to}}
          {{/if}}

          {{#link-to "attempt" run.topRunAttempt.id activeClass="" class="button-dashed button-orange"}}
            Resume
          {{/link-to}}
        </div>
      </div>
    </div>

    {{#if showExtensions}}
      <div class="border-card p-5">
        <ExtensionsWidget @run={{runAttempt.run}} class="mb-5" />
      </div>
    {{/if}}

    <div class="border-card p-5 mb-5">
      <WAsync
        @task={{fetchPerformanceStatsTask}}
        @autoFire="true" as |stats|>
        <PerformanceStatsView @stats={{stats}} />
      </WAsync>
    </div>

    <div class="border-card p-5 mb-5">
      <h4 class="mb-5">Summary</h4>

      <p class="grey">
        {{markdown-to-html course.summary}}
      </p>
    </div>
  </div>
  <div class="col-md-3 col-12">
    {{#if (and runAttempt.run.whatsappLink runAttempt.premium)}}
      <a href={{runAttempt.run.whatsappLink}} class="pointer" target="blank">
        <div class="border-card border-none bg-gradient-green mb-5 white">
          <i class="fab fa-whatsapp fa-2x mr-2"></i>
          <strong class="font-md">Join Whatsapp Group</strong>
        </div>
      </a>
    {{/if}}
    {{#if (is-after (unix runAttempt.run.start) '2018-10-01')}}
      <GoodieComp
        class="mb-5"
        @runAttempt={{runAttempt}} />
    {{/if}}
    <CertificateComp 
      class="mb-5"
      @runAttempt={{runAttempt}} />
    <div class="border-card py-5 mb-5 px-0">
      <h3 class="bold mb-4 px-5">Mentors</h3>
      <div class="divider-h w-80 mx-auto"></div>
      {{#each course.instructors as |instructor|}}
        <div class="hover-grey py-4 px-5">
          <div class="img-desc align-items-center">
            <img class="round s-50x50" src="{{instructor.photo}}" alt="">
            <div class="description ml-3">
              <div class="bold">
                {{instructor.name}}
              </div>
              {{instructor.email}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <HackerblocksStats />
  </div>
</div>
