<div class="overview-container">
    <!-------------------------------------------Recent Activity----------------------------------->

    <div class="container-fluid pl-0 pr-0">
        <div class="c-overview-recent row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="heading">
                        Recent Activity
                    </div>
                    <div class="card-content">
                        {{#if (eq recentEvents.length 0)}}
                            <div class="row">
                              <div class="col-2">
                                <div class="notify-type">
                                  <div class="notify-icon">
                                    <span class="notify-dot"></span>
                                    <img src="/images/support.svg" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="card-text col-10 align-self-center">
                                All the recent doubts asked by your peers will be
                                displayed here !
                              </div>
                            </div>
                      
                        {{else}}
                            {{#each recentEvents as |event|}}
                            <div class="row">
                              <div class="col-2">
                                <div class="notify-type">
                                  <div class="notify-icon">
                                    <span class="notify-dot"></span>
                                    <img src="/images/{{event.icon}}" alt="">
                                  </div>
                                </div>
                              </div>

                              <div class="card-text col-10 align-self-center">
                                {{#if (eq event.type 'announcement')}}
                                  {{#link-to 'classroom.timeline.announcements' activeClass=""}}
                                    {{event.payload.text}}
                                  {{/link-to}}
                                {{else}}
                                  <a href="{{discussBaseUrl}}/t/{{event.payload.id}}" target="_blank">
                                     {{event.payload.title}}
                                  </a>
                                {{/if}}
                              </div>
                              
                              
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                    <div class="pull-right">
                      {{#link-to 'classroom.timeline.doubts' tagName='div'}}
                        Browse
                        All{{/link-to}}
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6">
              <div class="card">

                {{certificate-comp runAttempt=runAttempt}}
              </div>
            </div>
        </div>
    </div>

    <!-------------------------------------------Leaderboard----------------------------------->

    {{run-leaderboard run=run}}

    <!-------------------------------------------About this course----------------------------------->
    <div class="heading-u">
        About This Course
    </div>
  <div class="c-overview-course">
    <div class="row no-gutters flex-wrap-reverse">
      <div class="course-features col-12 col-md-5">
        <div class="row no-gutters justify-content-center">
          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/content-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            100+ lecture Video Content
          </div>
          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/revise-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            Re-visit and Revise topics
          </div>
        </div>

        <div class="row no-gutters justify-content-center">
          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/certificate-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            Certification of Completion
          </div>

          <div class="img-box col-2 align-self-center">
            <div class="img-container">
              <div class="round-img">
                <img src="/images/support-2.png" alt="">
              </div>
            </div>

          </div>
          <div class="para col-4 align-self-center">
            24x7 mentor support
          </div>
        </div>

      </div>

      <div class="classroom-para col-12 offset-md-1 col-md-5">
        {{line-clamp
          text=run.course.summary
          lines=6}}
      </div>
    </div>

  </div>

    <!-------------------------------------------About Instructors----------------------------------->
    <div class="heading-u">
        About Instructors
    </div>

    <div class="c-about-instructors">
        <div class="row no-gutters">
            {{#each course.instructors as |instructor|}}
                <div class="col-md-6 col-sm-12">
                    <div class="img-desc row no-gutters">
                        <div class="col-3">
                        <div class="img-container">
                            <div class="round-img">
                            <img src="{{instructor.photo}}" alt="photo of {{instructor.name}}">
                            </div>
                        </div>

                        </div>


                        <div class="description col-8">
                        <div>
                            <div class="main-h">
                            {{instructor.name}}
                            </div>
                            <div class="sub-h">
                            {{instructor.sub}}, Coding Blocks
                            </div>
                            <div class="classroom-para">
                              <a href="mailto:{{instructor.email}}">{{instructor.email}}</a>
                            </div>
                        </div>

                        <div class="classroom-para">
                            {{markdown-to-html instructor.description}}
                        </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

    <!-------------------------------------------About TAs----------------------------------->
    {{#if run.ta.length}}
      <div class="heading-u">
          About Teaching Assistants
      </div>

      <div class="c-about-instructors">
          <div class="row no-gutters">
              {{#each run.ta as |ta|}}
                  <div class="col-md-6 col-sm-12">
                      <div class="img-desc row no-gutters">
                          <div class="col-3">
                          <div class="img-container">
                              <div class="round-img">
                              <img src="{{ta.photo}}" alt="photo of {{ta.name}}">
                              </div>
                          </div>

                          </div>


                          <div class="description col-8">
                          <div>
                              <div class="main-h">
                              {{ta.name}}
                              </div>
                              <div class="sub-h">
                              Teaching Assistant, Coding Blocks
                              </div>
                              <div class="classroom-para">
                                <a href="mailto:{{ta.email}}">{{ta.email}}</a>
                              </div>
                          </div>

                          <div class="classroom-para">
                              {{markdown-to-html ta.description}}
                          </div>
                          </div>
                      </div>
                  </div>
              {{/each}}
          </div>
      </div>
    {{/if}}

  <!------------------------------------------FAQs-------------------------------------------->
    <div class="heading-u mt-5 mb-5">
      Frequently Asked Questions
    </div>

    <div class="font-mds mb-4">
      When do I complete an Assignment?
    </div>
    <div class="grey i mb-4">
      You complete an assignment when you have attempted at least 80% of MCQ problems and you score an average of at least
      80%
      in code problems, within an assignment.
    </div>

    <div class="font-mds mb-4">
      When do I complete a Lecture?
    </div>
    <div class="grey i mb-4">
      You complete a lecture when you have attempted at least 80% of objective problems, have scored at least 80% in each
      code problems, and have seen at least 80% of the total videos, within a lecture.
    </div>

    <div class="font-mds mb-4">
      When do I complete a Test?
    </div>
    <div class="grey i mb-4">
      You complete a test when you have submitted the test.
    </div>

    <!------------------------------------------CI-------------------------------------------->
    <div class="heading-u mt-5 mb-5">
      Course Introduction
    </div>

    <div class="font-mds mb-4">
      Lectures
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li> 2 to 3 lectures will be released every week.</li>
        <li>There are In-Class Quizzes, Assignments, Notes along with Lecture Videos in a lecture. You should attempt them all to master each section that you study.</li>
        <li>You should complete the lectures within the week.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Assignments and Tests
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>After almost every lecture there will be one assignment.</li>
        <li>Assignments will have deadlines. Submissions after deadline will be subject to penalty (Penalty procedure is explained separately).</li>
        <li>Apart from assignments there will be frequent tests analysing your concepts and understanding.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Teaching Assistants and Doubts Resolution
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>Apart from instructors taking the course, there are teaching assistants in the course who will be taking your doubts.</li>
        <li>You can ask doubt on any content that you are facing problem at, be it a video or a question. There is an “Ask Doubt” button on the top right corner to raise your doubt.</li>
        <li>For doubt resolution TA support will be available between 6PM evening till 12AM midnight, on all seven days.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Hint Videos and Video Solutions
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>For many assignment problems, there are hint videos which you can watch. Watching them won't add any penalty.</li>
        <li>You can watch solution videos also for some problems and can check the solution code. But after checking/watching the solution, further submissions to that question will not fetch you any marks.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Deadlines and Penalty Scheme
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>For every Assignment, there is a soft deadline which is mentioned in every assignment. That is - if you submit problems in your assignment within the soft deadline of its release, you can get the full score for problems (if all the testcases for the problem are passed).</li>
        <li>For next 10 days (after deadline), a penalty of 25% will be applied on your problem submissions i.e. maximum score that you can get is 0.75*total_score.</li>
        <li>For next 5 days a penalty of 50% will be applied on your submission, so maximum possible score for a problem will be 0.5*total_score. And after that, you won’t get any marks for your submissions.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Content Availability
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>Lecture Videos in the course will be accessible by for next five weeks from the release date of the last lecture of the course.</li>
        <li>Hint/Solution Videos, quizzes, questions within a lecture, assignments and notes are available to you for lifetime.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Grading and Leaderboard
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>All the lecture questions, quizzes and assignments are graded.</li>
        <li>Submissions after deadlines will be penalised as per the penalty scheme specified above.</li>
        <li>Under “Your Percentage Score” you can see your 'With' and 'Without' penalty score. "With penalty score" is your final score considered for leaderboard and certificates. “Without penalty score” is your score without any penalties applied to the score, which just indicates your total progress in the course.</li>
        <li>A leaderboard is maintained for the batch which you can see under overview section in your course. Based on your score you can check your class rank.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Certificate
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>After the module ends all those students whose “With Penalty Score” >= 60% will be awarded course certificates.</li>
        <li>You will have to fill in your details for the certificate. Option to fill certificates details is right below “Resume to Classroom”.</li>
        <li>After the course ends, you will see an option to download your certificate right below “Resume to Classroom”.</li>
      </ul>
    </div>

    <div class="font-mds mb-4">
      Endnote
    </div>
    <div class="grey i mb-4">
      <ul class="list-style-disc">
        <li>Ultimately, PRACTICE IS THE KEY!</li>
        <li>The more you practice, better will be the results. Also, avoid missing lectures.</li>
        <li>We wish all the best in this journey of codes! Keep coding :)]</li>
      </ul>
    </div>

</div>
