<div class="row">
  <div class="col-9">
    <div class="border-card p-5 mb-5">
      <div class="row no-gutters align-items-center">
        <div class="col-md-6 col-12">
          <div class="row no-gutters align-items-center">
            <div class="col-3 p-3">
              <img src="{{course.logo}}" alt="C++">
            </div>
            <div class="col-9">
              <h5 class="bold">{{course.title}}</h5>
              <div class="font-normal mt-2">Mentor: 
                {{#each course.instructors as |instructor index|}}
                  {{#if index}}, {{/if}} {{instructor.name}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <RatingStars 
            @course={{course}}
            @initialRating={{course.userRating}} />
        </div>
      </div>

      <div class="divider-h w-100 mx-auto my-5"></div>

      <div>
        <h5 class="bold mb-3">Course Progress</h5>
        <WAsync
          @task={{fetchProgressTask}}
          @autoFire="true" as |prog|>
          <progress value="{{prog.percent}}" max="100" class="d-inline-block w-90 progress-orange"></progress>
          <span class="bold ml-3">{{prog.percent}}%</span>
        </WAsync>
      </div>

      <div class="divider-h w-100 mx-auto my-5"></div>

      <div class="row align-items-center justify-content-center">
        <div class="col-6 float-left red">
          {{#if runAttempt.premium}}
            {{#if runAttempt.isExpired}}
              Expired
            {{else}}
              Batch Ends {{moment-format runAttempt.endDate 'DD-MMM-YY'}}
            {{/if}}
          {{else}}
            Free Trial
          {{/if}}
        </div>
        <div class="col-6">
          <div class="float-right">
            {{#if showBuyNow}}
              {{#link-to "courses.id" run.course.identifier tagName="button" activeClass="" class="button-solid button-orange mr-3" invokeAction=(action 'log' 'Buy now' run.course.identifier preventDefault=false)}}
                Buy Now
              {{/link-to}}
            {{/if}}

            {{#link-to "attempt" run.topRunAttempt.id tagName="button" activeClass="" class="button-dashed button-orange"}}
              Resume
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>

    {{#if showExtensions}}
      <div class="border-card p-5">
        <ExtensionsWidget @run={{runAttempt.run}} class="mb-5" />
      </div>
    {{/if}}

    <div class="border-card p-5 mb-5">
      <WAsync
        @task={{fetchPerformanceStatsTask}}
        @autoFire="true" as |stats|>
        <PerformanceStatsView @stats={{stats}} />
      </WAsync>
    </div>

    <div class="border-card p-5 mb-5">
      <h4 class="mb-5">Summary</h4>

      <p class="grey">
        {{markdown-to-html course.summary}}
      </p>
    </div>
  </div>
  <div class="col-3">
    {{#if (and runAttempt.run.whatsappLink runAttempt.premium)}}
      <a href={{runAttempt.run.whatsappLink}} class="pointer" target="blank">
        <div class="border-card border-none bg-gradient-green mb-5 white">
          <i class="fab fa-whatsapp fa-2x mr-2"></i>
          <strong class="font-md">Join Whatsapp Group</strong>
        </div>
      </a>
    {{/if}}
    {{#if (is-after (unix runAttempt.run.start) '2018-10-01')}}
      <GoodieComp
        class="mb-5"
        @runAttempt={{runAttempt}} />
    {{/if}}
    <CertificateComp 
      class="mb-5"
      @runAttempt={{runAttempt}} />
    <div class="border-card py-5 mb-5 px-0">
      <h3 class="bold mb-4 px-5">Mentors</h3>
      <div class="divider-h w-80 mx-auto"></div>
      {{#each course.instructors as |instructor|}}
        <div class="hover-grey py-4 px-5">
          <div class="img-desc align-items-center">
            <img class="round s-50x50" src="{{instructor.photo}}" alt="">
            <div class="description ml-3">
              <div class="bold">
                {{instructor.name}}
              </div>
              {{instructor.email}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <HackerblocksStats />
  </div>
</div>
