<div class="border-card p-4 p-sm-5 mb-5">
  <h4 class="mb-5">Summary</h4>

  <p class="grey">
    {{course.summary}}
  </p>

  {{#if course.topRun.tags}}
    <p class="mt-4">
      Major Topics Covered
    </p>

    <div>
      {{#each course.topRun.tags as |tag|}}
        <span class="pill m-2">{{tag.name}}</span>
      {{/each}}
    </div>
  {{/if}}
</div>

<div class="border-card p-4 p-sm-5 mb-5">
  <h4>Mentors</h4>
  Know your Mentors for this course

  <div class="divider-h mt-5 mb-5"></div>
  {{#each course.instructors as |instructor|}}
  <div class="img-desc row no-gutters mb-5">
    <div class="col-3 pr-4">
      <img class="round" src="{{instructor.photo}}" alt="">

    </div>
    <div class="description col-8">
      <div class="heading-d">
        <h6 class="bold">
          {{instructor.name}}
        </h6>
        <div class="mb-3">
          Mentor, Coding Blocks
          <a href="mailto:{{instructor.email}}">{{instructor.email}}</a>
        </div>
        <div class="card-md">
          {{instructor.description}}
        </div>
      </div>

    </div>
  </div>
  {{/each}}
</div>

<div class="border-card p-4 p-sm-5 mb-5">
  <h4 class="mb-5">Course Introduction</h4>

  <div class="bold mb-3">Lectures</div>
  <div class="grey card-md mb-4">
    • 2 to 3 lectures will be released every week.
    <br>
    • There are In-Class Quizzes, Assignments, Notes along with Lecture Videos in a lecture. You should attempt them all
    to
    master each section that you study.
    <br>
    • You should complete the lectures within the week.
  </div>

  <div class="bold mb-3">Assignments and Tests</div>
  <div class="grey card-md mb-4">
    • After almost every lecture there will be one assignment.
    <br>
    • Assignments will have deadlines. Submissions after deadline will be subject to penalty (Penalty procedure is
    explained
    separately).
    <br>
    • Apart from assignments there will be frequent tests analysing your concepts and understanding.
  </div>

  <div class="bold mb-3">Teaching Assistants and Doubts Resolution</div>
  <div class="grey card-md mb-4">
    • Apart from instructors taking the course, there are teaching assistants in the course who will be taking your
    doubts.
    <br>
    • You can ask doubt on any content that you are facing problem at, be it a video or a question. There is an “Ask
    Doubt”
    button on the top right corner to raise your doubt.
  </div>
</div>