<div class="border-card accordion-card">
    <div class="c-accordion c-content-accordion">
        <div class="list-divided border-none">
            {{#if sections}}
            {{#each sections as |section|}}
            {{#accordion-head title=section.name completed=section.doneContents.length total=section.contents.length
            deadline=section.deadlineDate hideDuration=true listType="divided" premium=section.premium}}
            <div class="pb-4 pt-4">
                {{#each section.contents as |content|}}
                {{#if (or run.isStarted (not section.premium))}}
                <div class="row no-gutters pointer {{if content.isDone 'green' 'red'}}"
                    {{action 'transitionToContent' content.id section.id}}>
                    <div class="li-left col-10 col-sm-8">
                        <div class="col-1 content-icon {{content.iconClass}}-{{if content.isDone 'green' 'red'}}">
                        </div>
                        <div class="col-10">
                            {{content.title}}
                        </div>
                    </div>
                    <div class="li-right col-2 col-sm-4">
                        {{#if content.payload.duration}}
                        <div class="dsp-none-xs {{if content.isDone 'green' 'grey'}}">
                            {{format-duration content.payload.duration}}
                        </div>
                        {{/if}}

                        <div class="status-circle">
                            {{#if (and section.premium (not model.premium))}}
                            <i class="fas fa-lock grey"></i>
                            {{else}}
                            <img class="jugaadu-img" src="{{if content.isDone '/images/green.svg' '/images/white.svg'}}"
                                alt="">
                            {{/if}}
                        </div>

                    </div>
                </div>
                {{else}}
                <div class="row no-gutters red">
                    <div class="li-left col-10 col-sm-8">
                        <div class="col-1 content-icon {{content.iconClass}}-red"></div>
                        <div class="col-10">
                            {{content.title}}
                        </div>
                    </div>
                    <div class="li-right col-2 col-sm-4">
                        {{#if content.payload.duration}}
                        <div class="dsp-none-xs {{if content.isDone 'green' 'grey'}}">
                            {{format-duration content.payload.duration}}
                        </div>
                        {{/if}}

                        <div class="status-circle">
                            {{#if (or (and section.premium (not model.premium)) (not run.isStarted))}}
                            <i class="fas fa-lock grey"></i>
                            {{else}}
                            <img class="jugaadu-img" src="{{if content.isDone '/images/green.svg' '/images/white.svg'}}"
                                alt="">
                            {{/if}}
                        </div>

                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>

            {{/accordion-head}}
            {{/each}}
            {{else}}
            <div class="accordion-ul" data-show="true">
                <div class="accordion-li">
                    <div class="li-left flex-row">
                        Sorry, currently there are no available contents for this course.
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="row mt-5">
    {{#each course.projects as |project index|}}
    <div class="col-12 col-md-4">
        <div class="img-card">
            <div class="head">
                <img class="back-img" src="{{project.image}}">
                <div class="content white">
                    <h4>Project {{inc index 1}}</h4>
                </div>
            </div>
            <div class="foot">
                <h4>{{project.title}}</h4>
                <div class="card-md">
                    {{project.description}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>