<div class="row py-4 no-gutters align-items-center justify-content-between">
  {{!-- {{#if showCommunitySupportOnly}}
    <div class="col-8">
        <h3 class="gradient-text-orange bold">
          Check out CodingBlocks Community
        </h3>
        Got Stuck? Browse community forums
    </div>
    <a 
      href={{communityForumLink}}
      target="_blank"
      class="button-solid button-orange" 
      id="ask-doubt" >
      Browse forums
    </a>
  {{else}} --}}
    <div class="col-8">
        <h3 class="gradient-text-orange bold">
          Get 24*7 Doubts &amp; Mentor Support
        </h3>
        Have any queries? Ask a Doubt
    </div>

    {{#if doubtSupportNotAvailableForThisTier}}
      <button 
        class="button-solid button-orange" 
        id="ask-doubt" 
        title='Ask a Doubt'
        {{action (mut showUpgradeModal) true}} 
        >
        Ask Doubt
      </button>
    {{else}}
      <button 
        class="button-solid button-orange {{if hideDoubtSupport 'disabled'}}" 
        id="ask-doubt" 
        title={{if hideDoubtSupport 'Doubt Support unavailable' 'Ask a Doubt'}}
        disabled={{hideDoubtSupport}}
        {{action onAskDoubt}} 
        >
        Ask Doubt
      </button>
    {{/if}}

</div>


<Blockers::UpgradeModal 
  @show={{showUpgradeModal}} 
  @close={{action (mut showUpgradeModal) false}}
  @courseId={{runAttempt.run.course.id}} 
  @runAttempt={{runAttempt}} 
>
  <div class="bg-light-grey t-align-c py-2">
       or <a 
          href={{communityForumLink}}
          target="_blank"
          class="pointer hoverable-text" 
          id="ask-doubt" >
          Browse forums
        </a>
      </div>
</Blockers::UpgradeModal>