{{#if player.isActive}}
  <div class="c-video d-flex flex-column justify-content-around">
    {{!-- {{content-feedback onFeedbackSubmit=onFeedbackSubmit showFeedback=showFeedback}} --}}
   
    <VdoPlayer 
      id="embedBox" 
      @lecture={{lecture}} 
      @markProgress={{action "markProgress"}}
      @start={{start}} 
      @onVideoCompleted={{action player.transitionToNextContent}}
    />

  </div>
{{/if}}