<div class="py-5">
  <div class="row">
    <div class="col-md-8">
      <div class="border-card bg-dark-grey p-5 white h-100">
        <div class="li-right font-md bold">
          {{!-- <span class="border br-50 px-3 py-2">
            Newly Launched
          </span> --}}
          <img src="https://minio.codingblocks.com/amoeba/newer.svg" class="s-70x70  float-right">

        </div>
        <div class="gradient-text-orange font-lg bold">
          <img src="/app/images/hat.svg" alt="hat">
          <span class="ml-2">Introducing: Learning Tracks</span>
        </div>
        <p class="font-sm" style="word-spacing: 0.2rem; text-align: justify">
          Our expert instructors believe that systematically designed paths can help you to master your skills & achieve
          your career goals. We've got your back! Learning Tracks are carefully crafted with a step by step guide that
          saves you the effort to find out which course fits you well, and in what sequence to maximize your learning
          experience.

          Happy learning!
        </p>
      </div>
    </div>
    <div class="col-md-4 mt-5 my-md-0">
      <Tracks::TracksDoubtsForm />
    </div>
  </div>
  <div class="row">
    {{#each tracks as |track|}}
    <div class="col-md-6 col-lg-4 mt-5">
      <div class="border-card p-0 track-card">
        <div class="row no-gutters bg-light-grey p-4 track-card__head">
          <img src="{{track.logo}}" alt="Track Logo" class="s-80x80 track-card__head__logo">
          <div class="flex-col align-items-end justify-content-between w-100" style="margin-left: 6.5rem;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/share.svg">
            <h4 class="bold w-100">{{track.name}}</h4>
          </div>
        </div>
        <div class="row no-gutters justify-content-end align-items-center p-4">
          {{!-- <span class="bold gradient-text-orange">
            {{track.status}}
          </span> --}}
          <div>
            <span class="bold">{{track.courseCount}} Courses</span>
            <LinkTo @route="tracks.id" @model={{track.slug}} class="button-solid button-orange ml-3">
              Explore
            </LinkTo>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


{{!-- <div class="border-card p-0">
  <div class="row no-gutters bg-light-grey p-4 position-relative bg-gradient-blue white" style="
    height: 150px;
">
    <img src="https://minio.codingblocks.com/amoeba/efb2d77c-e577-406d-bb8c-f21a9beeb3a9.svg" alt="Track Logo"
      class="s-80x80 mr-3" style="
    position: absolute;
    left: 1.5rem;
    bottom: -40px;
    border: 1px solid white;
    border-radius: 50%;
">
    <div class="flex-col" style="
    margin-left: 6.5rem;
    align-items: flex-end;
    justify-content: space-between;
">
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/share.svg" style="
    float: right;
">
      <h4 class="bold">C++ Data Structures &amp; Algorithms</h4>
    </div>
  </div>
  <div class="row no-gutters justify-content-end align-items-center p-4">

    <div>
      <span class="bold">3 Courses</span>
      <a href="/app/tracks/c-plus-plus-data-structures-algorithms" id="ember1348"
        class="ember-view button-solid button-orange ml-3">
        Explore
      </a>
    </div>
  </div>
</div> --}}