<div class="dashboard row no-gutters justify-content-between">
  <div class="col-4 heading-d align-self-center">
    <div class="main-h">
      {{payload.name}}
    </div>
    {{!--
    <div class="sub-h">
      {{payload.name}}
    </div> --}}
  </div>

  <div class="col-12 col-md-3 col-lg-4 align-self-center search-container">
    {{search-attempt}}        
  </div>
  <div class="col-8 col-md-5 col-lg-4">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-6 notify-type align-self-center">
        {{#if course.canHazDoubtsLink}}
          <a href="{{course.doubtsLink}}" target="_blank">
            <div class="notify-text">
              <span class="notify-dot new"></span>
                Ask Doubts
            </div>
          </a>
        {{/if}}
      </div>
      <div class="button-solid col-12 col-md-6 align-self-center">
        <button {{action 'transitionToDashboard'}}> &#60; Go to Dashboard</button>
      </div>
   </div>
 </div>
</div>
