<div class="col-md-5 col-6">
  <div class="font-normal">Course Progress</div>
  <div class="mt-3">
    <MyCoursesList::ProgressBar @percent={{progressPercent}} />
  </div>
</div>
<div class="col-md-3 col-12 mt-md-0 mt-3">
  <div class="row no-gutters justify-content-around align-items-center">
    <LinkTo 
      @route="classroom.timeline.overview" 
      @models={{array run.course.id run.id}}  
      @tagName="button" 
      class="button-dashed button-orange"
    >
      Attempt Challenges
    </LinkTo>
    {{#if run.topRunAttempt.premium}}
      <button class="button-orange button-solid" {{action (mut showExtensionsModal) true}}>Buy Extension</button>
    {{/if}}
  </div>
</div>

{{#if showExtensionsModal}}
  <ModalDialog
    @onClose={{action (mut showExtensionsModal) false}}
    @translucentOverlay=true
    @targetAttachment='none'
    @containerClass='centered-scrolling-container'
    @overlayClass='centered-scrolling-overlay'
    @wrapperClass='centered-scrolling-wrapper'
  >
    <ExtensionsWidget 
      @run={{run}} 
      @onClose={{action (mut showExtensionsModal) false}}
    />
  </ModalDialog>
{{/if}}