<div class="row">
  <LinkTo 
    @route="attempt.content"
    @models={{array note.runAttempt.id note.section.id note.content.id}}
    class="col-12 col-md-4 col-lg-3 gradient-text-orange font-sm d-flex bold" >
      <div> {{note.content.title}} </div>
      <div class="ml-auto mx-md-auto pl-2">
        {{format-video-time note.duration}}
      </div>
  </LinkTo>
  <div class="col-6 col-md-3 grey">
    {{moment-from-now note.createdAt}}
  </div>
  <div class="col-6 col-md-2 ml-auto gradient-text-orange t-align-r pointer" {{action "changeDeletedStatus"}}>
    {{buttonText}}
  </div>
</div>
<div class="my-4 t-align-j">
  {{note.text}}
</div>