{{#unless (or getReferralCodeTask.last.isError getReferralCodeTask.isRunning)}}
<div class="c-referral-code">
  <div class="coupon">
    <div class="text">Refer and Earn: </div>
    <div id="coupon-code" class="code" {{action "selectText" "coupon-code"}}>
      https://cb.lk/join/{{code}}
    </div>
  </div>
  <div class="description col-12 col-md-7" {{action "selectText" "coupon-code"}}>
    This is your referral link and code. Get your friends to sign up using this link and gift them Rs. 500 in their wallet. We'll gift you Rs. 500 if they purchase a course. or you can share your referral code directly. For every friend who purchases a course using your code during the checkout, you earn Rs. 500 credit in your wallet. Click code to copy.
  </div>
  <div class="shares">
    <span {{action 'shareFacebook'}}>
      <i class="fab fa-facebook-square"></i>
    </span>
    <span {{action 'shareTwitter'}}>
      <i class="fab fa-twitter-square"></i>
    </span>
    <span {{action 'shareWhatsapp'}}>
      <i class="fab fa-whatsapp-square"></i>
    </span>
  </div>
</div>
{{/unless}}