<div class="heading p-4">
  <span class="sno">Q{{q}}.</span>
  {{question.title}}
</div>

<div class="question p-4">
  <span class="text">
    {{markdown-to-html question.description class="d-inline" extensions='katex'}}
  </span>
</div>

<div class="p-4">
  {{#each question.choices as |choice|}}
    <div class="
      {{if (find choice.id incorrectIds) 'red'}}
      {{if (find choice.id correctIds) 'green'}}
    ">
      <div class="text">
        {{markdown-to-html choice.title extensions='katex' class="ml-3"}}
      </div>
    </div>
  {{/each}}
</div>

<div class="navigation">
  {{#if (gt q 1)}}
    <a href="#" {{action 'changeQuestion' -1}} class="white">Previous</a>
  {{else}}
    <a class="grey">Previous</a>
  {{/if}} {{#if (lt q quiz.questions.length)}}
    <a href="#" {{action 'changeQuestion' 1}} class="white">Next</a>
  {{else}}
    <a class="grey">Next</a>
  {{/if}}
</div>
