
<div class="heading-U">{{problem.name}}</div>
<div class="para">
  {{problem.content.description}}
</div>

<div class="heading">Input Format:</div>
<div class="para">
  {{problem.content.input-format}}
</div>

<div class="heading">Constraints:</div>
<div class="faded-cont">
  {{problem.content.constraints}}
</div>

<div class="heading"> output format</div>
<div class="para">
  {{problem.content.output-format}}
</div>

<div class="heading">sample input</div>
<div class="faded-cont">
  {{problem.content.sample-input}}
</div>

<div class="heading">sample output</div>
<div class="faded-cont">
  {{problem.content.sample-output}}
</div>
