<div class="c-pb-statement">
  <div class="heading-U">{{problem.name}}</div>
  <div class="para">
    {{markdown-to-html problem.content.description}}
  </div>

  <div class="heading">Input Format:</div>
  <div class="para">
      {{markdown-to-html problem.content.input-format}}
  </div>

  <div class="heading">Constraints:</div>
  <div class="faded-cont">
    {{markdown-to-html problem.content.constraints}}
  </div>

  <div class="heading"> output format</div>
  <div class="para">
    {{markdown-to-html problem.content.output-format}}
  </div>

  <div class="heading">sample input</div>
  <div class="faded-cont">
    <pre>{{trim problem.content.sample-input}}</pre>
  </div>

  <div class="heading">sample output</div>
  <div class="faded-cont">
    <pre>{{trim problem.content.sample-output}}</pre>
  </div>
</div>

