
{{#if session.isAuthenticated}}
  <button onclick={{action 'invalidateSession'}}>LOGOUT</button>
{{else}} 
        <button onclick={{action 'logIn'}}>
          {{#unless hasBlock}}
            LOGIN
          {{else}}
            {{yield}}
          {{/unless}}
        </button>
{{/if}}
