<div class="c-qna-attempt bg-grey-darker">
  <div class="quiz-content col-9">
    <div class="heading p-4">
      <span class="sno">Q{{q}}.</span>
      {{currentQuestion.title}}
    </div>

    <div class="question p-4">
      <span class="text">
        {{markdown-to-html currentQuestion.description class="d-inline" extensions='katex'}}
      </span>
    </div>

    <div class="p-4">
      {{#each currentQuestion.choices as |choice|}}
        <div class="input-radio gradient-input">
          <input
            checked={{find choice.id currentQuestion.markedChoices}} 
            type="radio" 
            id={{choice.id}}
            onclick={{action (perform markChoice) currentQuestion choice}} />
          <label for="{{choice.id}}">
            {{markdown-to-html choice.title extensions='katex' class="ml-3"}}
          </label>
        </div>
      {{/each}}
    </div>

    <div class="navigation">
      {{#if (gt q 1)}}
        <a href="#" {{action 'changeQuestion' -1}} class="white" >Previous</a>
      {{else}}
        <a class="grey">Previous</a>
      {{/if}}
      {{#if (lt q quiz.questions.length)}}
        <a href="#"  {{action 'changeQuestion' 1}} class="white">Next</a>
      {{else}}
        <a class="grey">Next</a>
      {{/if}}
    </div>
  </div>
  <div class="col-3">
    {{!-- <div class="c-clock">
      <div class="item hrs">01</div>
      <div class="seprator">:</div>
      <div class="item mins">45</div>
      <div class="seprator">:</div>
      <div class="item secs">54</div>
    </div> --}}
    
    {{review-pad submission=quizAttempt.submission questions=questions onCircleClick=(action 'goToQuestion')}}

    <div class="d-flex justify-content-center">
      <button class="button-solid button-orange" {{action 'submitQuiz'}}>
        Submit Quiz
      </button>
    </div>
  </div>
</div>