<div class="red bold font-sm">Your predictions for today</div>
<div class="list-divided border-none">
  {{#each predictions as |prediction index|}}
  <div class="py-4">
    <div class="d-flex">
      <div class="li-left">
        <div class="flex-column align-items-start">
          <div class="bold">
            Level
            {{index}}
          </div>
          <h4>
            {{prediction.cricketCupQuestion.title}}
          </h4>
        </div>
      </div>
      <div class="li-right">
        <div class="label-dashed">
          <span class="red">
            {{prediction.cricketCupQuestion.score}}
            Points
          </span>
        </div>
      </div>
    </div>
    <div class="mt-3">
      {{#each prediction.cricketCupQuestion.cricketCupChoices as |choice|}}
      <input type="radio" class="mx-2" checked={{eq prediction.cricketCupChoice.id choice.id}} disabled />

      <label>
        {{choice.content}}
      </label>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>