<h1> My Courses </h1>

<WTabNav 
  @tabs={{tabs}}
  @activeTab={{activeTab}}
  @onTabChange={{action "changeTab"}}
  >
  <WAsync @task={{activeTab.task}} @autoFire={{true}} as |result|>
    {{component activeTab.component runs=result}}
  </WAsync>
</WTabNav>


<WPagination
  @pages={{pagination.totalPages}}
  @size={{limit}}
  @current={{pagination.currentPage}}
  @onchange={{action "paginate"}}
/>
