<h2> 
  My Courses 
</h2>

<WTabNav 
  @tabs={{tabs}}
  @activeTab={{activeTab}}
  @onTabChange={{action "changeTab"}}
  >
  <WAsync 
    @task={{activeTab.task}}
    @autoFire={{true}} 
    @loaderComponent={{component 'my-courses-list/placeholder-row'}}
    as |result|>
    {{#if result.length}}
      {{#if (eq activeTab.name 'Wishlisted')}}
        {{component activeTab.component wishlist=result class="border-bottom-list"}}
      {{else}}
        {{component activeTab.component runs=result class="border-bottom-list"}}
      {{/if}}
    {{else}}
      <div class="t-align-c my-5">
        <img src="/app/images/camera-orange.svg" alt="Courses">
        <h4 class="bold mt-4">My Courses</h4>
        <div class="grey mb-4">You are not enrolled in any course! Find courses to get enrolled!</div>
        <a href="/courses" class="font-sm bold gradient-text-orange">Explore Courses</a>
      </div>
    {{/if}}
  </WAsync>
</WTabNav>


<WPagination
  @pages={{pagination.totalPages}}
  @count={{pagination.count}}
  @size={{limit}}
  @current={{pagination.currentPage}}
  @onchange={{action "paginate"}}
/>

{{#if layout.outsideContainer}}
  {{#in-element layout.outsideContainer}}
    <OtpEnroll />
  {{/in-element}}
{{/if}}
