<div class="c-certificate bg-gradient-steel-grey br-15 mb-5 white">
  <div class="row justify-content-between no-gutters align-items-center" {{action 'toggleCollapse'}}>
    <div class="img-desc font-mds">
      <div class="description">
        <span>Claim Goodies </span>
      </div>
    </div>
    <img src="/images/gift.png" alt="">
  </div>

  <div class="{{if collapsed 'dsp-none-md'}}">
    
    <div class="row justify-content-between no-gutters align-items-center description">
       <span class="card-md white">Complete {{ run.goodiesThreshold }}% of your course </span>
    <span class="card-md white">to unlock and claim goodies</span>
    </div>
    
    <div class="img-desc my-3 align-items-center">
      <div class="s-30x30 bg-white round mr-3 {{if thresholdCompleted 'tick'}}"></div>
      <div class="description">
        <span>Threshold Completion: {{ run.goodiesThreshold }}%+</span>
      </div>
    </div>

    <div class="divider-h bg-white my-4"></div>
     {{#if alreadyClaimed}}
      <button class="button-solid" disabled> Requested </button>
    {{else if completed}}
      <button class="button-solid" disabled> Delivered </button>
    {{else if canClaim}}
      <button class="button-solid" {{action 'toggleModal'}}> Request </button>
    {{else}}
      <button class="button-solid white" disabled>
        <i class="fas fa-lock"></i>
        Request
      </button>
    {{/if}}
    </div>
  </div>

{{#if showModal}}
  <ModalDialog   
    @onClose={{action "toggleModal"}} @translucentOverlay={{true}}
    @targetAttachment="none"
    @wrapperClass="centered-scrolling-wrapper"
    @overlayClass="centered-scrolling-overlay cart-modal-overlay" 
    @containerClass="col-md-6 col-12 centered-scrolling-container">
    <div class="my-3 font-mds">
      <h3 class="col-12">Goodies Request Form</h3>
      <form method="" {{action "saveForm" on="submit"}}>
        <div class="col-12 my-4">
          <label class="my-1 form-field--label ember-view"> Name
            <span class="star">*</span>
          </label>
          {{input aria-invalid="false" class="input-text form-field--control ember-view" type="text" required=true value=name}}
        </div>
        {{!-- <div class="col-12 my-4">
          <fieldset class="radio-group form-field ember-view">  
            <legend class="ember-view">  Enter T-shirt size 
              <span class="star">*</span>
            </legend>
            <ul>
              <li class="ember-view">
                <div class="radio-field form-field ember-view">
                  <label class="form-field--label ember-view">      
                    {{input aria-invalid="false" class="form-field--control ember-view" type="radio" name="tshirt" value="XL" required=true click=(action (mut tshirt) 'XL')}}
                    XL
                  </label> 
                </div>
              </li>
              <li class="ember-view">
                <div class="radio-field form-field ember-view">
                  <label class="form-field--label ember-view">      
                    {{input aria-invalid="false" class="form-field--control ember-view" type="radio" name="tshirt" value="L" click=(action (mut tshirt) 'L')}}
                    L
                  </label> 
                </div>
              </li>
              <li class="ember-view">
                <div class="radio-field form-field ember-view">
                  <label class="form-field--label ember-view">      
                    {{input aria-invalid="false" class="form-field--control ember-view" type="radio" name="tshirt" value="M" click=(action (mut tshirt) 'M')}}
                    M
                  </label> 
                </div>
              </li>
              <li class="ember-view">
                <div class="radio-field form-field ember-view">
                  <label class="form-field--label ember-view">      
                    {{input aria-invalid="false" class="form-field--control ember-view" type="radio" name="tshirt" value="S" click=(action (mut tshirt) 'S')}}
                    S
                  </label> 
                </div>
              </li>
            </ul>
          </fieldset>
        </div> --}}
        <div class="col-12 my-4">
          <label class="my-1 form-field--label ember-view"> Address
            <span class="star">*</span>
          </label>
          {{textarea aria-invalid="false" class="input-textarea form-field--control ember-view" rows="4" required=true value=address}}
        </div>
        <div class="col-12 my-4">
          <label class="my-1 form-field--label ember-view"> 
            Postal Code
            <span class="star">*</span>
          </label>
          {{input aria-invalid="false" class="input-text form-field--control ember-view" pattern="\d*" maxlength="6" type="text" required=true value=postalCode}}
        </div>
        <div class="col-12 my-4">
          <label class="my-1 form-field--label ember-view"> 
            Alternate Contact Number
          </label>
          {{input aria-invalid="false" class="input-text form-field--control ember-view" pattern="\d*" maxlength="10"  type="text" required=false value=mobile}}
        </div>
        <div class="col-12 my-4">

          Please Note:
          <ol>
            <li>Provide correct postal address where there will be someone to collect</li>
            <li>We will send bags only in India</li>
            <li>In case, bag is returned back to us then you have to collect the same from our center</li>
            <li>We will send the goodies within next 10 days and will share the tracking ids as soon it is in transit.</li>
          </ol>

          <input class="ember-checkbox ember-view" type="checkbox" required=true>  
          <b>I understand and acknowledge all the information given is correct.</b>
        </div>
        <div class="col-12 my-2">
        {{#if isDisabled}}
          <button class="async-button disabled button-solid form-button--submit ember-view" type="submit">
            Request
          </button>
        {{else}}
          <button class="async-button button-solid form-button--submit ember-view" type="submit">
            Request
          </button>
        {{/if}}
      </div>
      </form>
    </div>
  </ModalDialog>
{{/if}}