{{#if playerPreference.showInstructions}}
  {{#if isShowingInstructions}}
    {{#modal-dialog
      onClose=(action (mut isShowingInstructions) false)
      translucentOverlay=true
      overlayClass="c-player-modal"
    }}
        <div class="row">
          <img src="/images/player-control.png">
          <div class="justify-content-center">
            <h3 class="red">Up/Down: Change Video Speed</h3>
            <h3 class="red">Left/Right: Seeks 5 seconds Backward/Forward</h3>
          </div>
        </div>
        <div class="footer row justify-content-end no-gutters">
          <label class="red">{{input type='checkbox' checked=checkboxVal}}Don't show again</label>
          <div class="button-solid">
            <button {{action "closeInstructions"}}>Close</button>
          </div>
        </div>
    {{/modal-dialog}}
  {{/if}}
{{/if}}
  <video id="video" class="w-100 video-overlay text-overlay" controls onended={{onVideoCompleted}}></video>
  <div class="overlay-content">
    <p class="grey">{{currentUser.user.email}}</p>
  </div>

<script>

  let overlay = document.getElementById("overlay")
  let topPos = Math.floor(Math.random() * 100)
  let leftPos = Math.floor(Math.random() * 100)

  overlay.style.top = topPos + "%";
  overlay.style.left = leftPos + "%";

  setInterval(function () {
    let topPos = Math.floor(Math.random() * 100)
    let leftPos = Math.floor(Math.random() * 100)

    overlay.style.top = topPos + "%";
    overlay.style.left = leftPos + "%";

  },5000)

</script>

<div class="select-box">
	<div class="open-select-box">
	    <button type="video-fast-fwd" {{action 'changeSpeed' -0.25}} id="video-fbwd">
	      <i class="fa fa-fast-backward"></i>
	    </button>
	      <button type="video-fast-back" {{action 'changeSpeed' 0.25}} id="video-ffwd">
	    <i class="fa fa-fast-forward"></i>
	    </button>
	</div>
    <label id="playback-speed">{{pr}}X</label>
</div>
