<div class="c-spin">
  <div class="bg-mild-blue pt-4">
    <div class="container pt-5">
      <div class="row bg-mild-blue p-5">
        <div class="col-lg-6 ">
          <div class="mb-5 d-flex d-lg-block justify-content-center">
            <img src="https://minio.codingblocks.com/amoeba/spin-n-win-board.svg" alt="Spin-N-Win">
          </div>
          <div class="spin-red font-xxl mb-4 pb-4 bold t-align-c t-align-lg-l">
            This festive season, Spin the CB Wheel and win assured prizes!!
          </div>
          <div class="mb-4 d-flex d-lg-block justify-content-center">
            <button class="button-dashed button-pink w-75 p-3 border-round" {{did-insert (action (mut spinsLeftBox))}}>
              <div class="d-flex justify-content-between align-items-center px-3 flex-wrap">
                <span class="font-xl bold black mx-auto mr-lg-0 mb-2">{{stats.availableSpins}} Spin{{if (gt stats.availableSpins 1) "s"}} Left</span>
                <span class="font-sm bold spin-red mx-auto mr-lg-0">Earn More <i class="fas fa-long-arrow-alt-right"></i></span>
              </div>
            </button>
          </div>

          <div class="font-md spin-red mb-5 t-align-c t-align-lg-l">
            Get <span class="bold">500 CB Credits</span> on your first successful spin
          </div>

          <div class="d-flex d-lg-block justify-content-center">
            <button class="button-solid button-purple letter-spaced spin-button" disabled={{isSpinning}} {{action (perform spin)}}>
              <span class="font-xxl bold p-4" >
                {{if isSpinning 'SPINNING..' 'TAP TO SPIN'}}
              </span>
            </button>
          </div>

        </div>
        <div class="col-lg-6 spin-wheel d-flex">
         
            <img class="wheel-pointer" src="https://minio.codingblocks.com/amoeba/wheel-pointer.png">
            <object 
              class="wheel mx-auto w-100"
              data="https://minio.codingblocks.com/amoeba/spin-win-wheel.svg"
              {{did-insert (action "setWheel")}}></object>
            <object class="wheel-base" data="https://minio.codingblocks.com/amoeba/spin-win-wheel-base.svg"></object>
         
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 spin-bg-purple white">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-6 my-3 t-align-c t-align-lg-l">
          <div class="spin-yellow extra-bold font-md letter-spaced">
            Running out of spins?
          </div>
          <div class="font-sm">
            For every friend who signup with your code gets an extra spin.
            You get an extra spin after their successful spin!
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
          <span class="border-dashed p-2 font-md white" id="referral-container" {{action 'selectText' 'referral-container'}}>
            https://cb.lk/join/{{referralCode.code}}
          </span>
          <span class="white ml-5 font-md pointer" {{action 'share' 'facebook'}}>
            <i class="fab fa-2x fa-facebook-f"></i>
          </span>
          <span class="white ml-5 font-md pointer" {{action 'share' 'twitter'}}>
            <i class="fab fa-2x fa-twitter"></i>
          </span>
          <span class="white ml-5 font-md pointer" {{action 'share' 'whatsapp'}}>
            <i class="fab fa-2x fa-whatsapp"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {{!-- My Winnings --}}
    <Spin::SpinWinnings 
      @usedSpins={{usedSpins}}
      class="mt-5" />

    <div class="row">
      {{!-- rules --}}
      <div class="col-12 col-md-6 mt-5">
        <div class="border-card p-0">
          <div class="spin-bg-mild-blue p-5">
            <h4 class="bold">
              <i class="fas fa-question-circle letter-spaced"></i> Rules
            </h4>
          </div>
          <div class="p-5 font-sm">
            1. You get one free spin everyday.<br> <br>
            2. You need to signup in order to play the Spin N Win Game.<br> <br>
            3. You get 5 spins on every course purchase during this campaign.<br> <br>
            4. We will notify the participants, eligible to claim the Prize, by E-Mail / SMS.<br> <br>
            5. Your free spin will expire at the end of the day.<br> <br>
            6. By entering the Contest, you consent to being placed on a mailing list for promotional and other materials for CB. You may update or change your email preferences at the email preferences page.<br> <br>
            7. You ahould have a billing address within the territory of India for t-shirt and swag pack.<br> <br>
            8. In case of any discrepency, the final decision will be of Coding Blocks.<br> <br>
          </div>
        </div>
      </div>

      {{!-- winners list --}}
      <div class="col-12 col-md-6 mt-5">
        <Spin::SpinLeaderboard @stats={{stats}} />
      </div>
    </div>

    <div class="border-card mt-5 p-5">
      <h4 class="bold">
        Frequently Asked Questions (FAQ’s)
      </h4>
      <div class="mt-5">
        <h6 class="bold">
          Q1. Am I eligible to participate?
        </h6>
        <p>
          Yes everyone who has an account on Coding Blocks is eligible to participate. If you don’t have one, please signup now!
        </p>
      </div>
      <div class="mt-4">
        <h6 class="bold">
          Q2. How will i receive my rewards?
        </h6>
        <p>
          Yes everyone who has an account on Coding Blocks is eligible to participate. If you don’t have one, please signup now!
        </p>
      </div>
      <div class="mt-4">
        <h6 class="bold">
          Q3. Am I eligible to participate?
        </h6>
        <p>
          Yes everyone who has an account on Coding Blocks is eligible to participate. If you don’t have one, please signup now!
        </p>
      </div>
    </div>
  </div>
</div>


{{#if showWinModal}}
  <ModalDialog
    @onClose={{action (mut showWinModal) false}}
    @translucentOverlay={{true}}
    @overlayClass="spin-overlay"
    @containerClass="container spin-modal-container"
  >
    <Spin::SpinWinModal 
      @prize={{prizeDrawn}}
      @referralCode={{referralCode.code}}
      @onClose={{action (mut showWinModal) false}}
    />
  </ModalDialog>
{{else if showLoseModal}}
  <ModalDialog
    @onClose={{action (mut showLoseModal) false}}
    @translucentOverlay={{true}}
    @overlayClass="spin-overlay"
    @containerClass="container spin-modal-container"
  >
    <Spin::SpinLoseModal 
      @prize={{prizeDrawn}}
      @referralCode={{referralCode.code}}
      @onClose={{action (mut showLoseModal) false}}
    />
  </ModalDialog>
{{/if}}

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>