<div class="c-spin">
  <div class="row no-gutters bg-purple-blue p-5 br-10">
    <div class="col-lg-6 my-auto">
      <div class="t-align-c t-align-lg-l">
        <div class="font-sm white" style="letter-spacing: 10px;">
          CODING BLOCKS
        </div>
        <div class="gradient-text-orange d-flex align-items-center justify-content-center justify-content-lg-start font-title">
          <div>WE</div>
          <img class="mx-2" src="https://minio.codingblocks.com/amoeba/heart.svg" style="height: 3rem; margin-bottom: 1.6rem; min-width: 50px" />
          <div>LEARN TIME</div>
        </div>
        <div class="gradient-text-light-yellow bold font-md">
          13 Feb - 19 Feb
        </div>
      </div>

      <div class="mt-4 d-flex d-lg-block justify-content-center">
        <button class="button-dashed button-pink w-75 p-3 border-round" {{did-insert (action (mut spinsLeftBox))}}>
          <div class="d-flex justify-content-between align-items-center px-3 flex-wrap">
            <span class="font-xl bold black white">
              <span class="gradient-text-orange">{{stats.availableSpins}}</span>
              <img src="https://minio.codingblocks.com/amoeba/heart.svg" class="mr-3"> 
              LEFT
            </span>
            <a class="font-sm bold spin-red mx-auto mr-lg-0" href="#" {{action "goToShare"}}>
              Earn More 
              <i class="fas fa-long-arrow-alt-right"></i>
            </a>
          </div>
        </button>
      </div>   
      <div id="content-play" style="display: block;">
        <div class="mt-4 gradient-text-yellow font-md bold t-align-c t-align-lg-l">
          This Valentine’s, we are spreading love by giving assured prizes through mystery box
        </div>
        <div class="mt-5 t-align-c t-align-lg-l">
          <button class="button-solid button-orange py-3 px-4 font-md" {{action (perform spin)}} disabled={{spin.isRunning}}>
            TAP TO PLAY
          </button>
        </div>
      </div>
      <div id="content-share" style="display: none;">
        <div class="mt-4 font-md bold t-align-c t-align-lg-l">
          {{#liquid-if (eq wonPrize.size 0) class="fade"}}
            <span class="gradient-text-yellow">Oops! Didn't win anything? Share with your friends to win an extra heart for every Sign-Up</span>
          {{else}}
            <span class="gradient-text-yellow">Congratulations on winning {{wonPrize.title}} ! Spread the love by sharing with your friends</span>
          {{/liquid-if}}
        </div>
        <div class="mt-5 t-align-c t-align-lg-l white">
          <span class="font-md pointer" {{action 'share' 'facebook' (eq wonPrize.size 0)}}>
            <i class="fab fa-2x fa-facebook-f"></i>
          </span>
          <span class="ml-4 font-md pointer" {{action 'share' 'twitter' (eq wonPrize.size 0)}}>
            <i class="fab fa-2x fa-twitter"></i>
          </span>
          <span class="ml-4 font-md pointer" {{action 'share' 'whatsapp' (eq wonPrize.size 0)}}>
            <i class="fab fa-2x fa-whatsapp"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-6 t-align-c t-align-lg-r mt-5 mt-lg-0">
      <img src="https://minio.codingblocks.com/amoeba/gift.png" alt="Gifts" id="prize-image" style="height: 27.75rem; width: 18.125rem;"/>
    </div>
  </div>

  {{!-- My Winnings --}}
  <Spin::SpinWinnings 
    @usedSpins={{usedSpins}}
    class="mt-5" />

  {{!-- Share it --}}
  <Spin::SpinShare 
    @share={{action 'share'}}
    @referralCode={{referralCode}}
    class="mt-5"
    id="share-box" />

  <div class="row">
    {{!-- rules --}}
    <div class="col-md-6 mt-5">
      <div class="border-card p-0">
        <div class="bg-gradient-red-pink p-4">
          <h4 class="bold white">
            <i class="fas fa-question-circle letter-spaced"></i> Game Rules
          </h4>
        </div>
        <div class="p-5 font-sm">
          1. User get one free heart everyday till 19th Feb, 2020.<br> <br>
          2. New user need to signup in order to participate.<br> <br>
          3. User gets 5 hearts on every course purchase during this campaign.<br> <br>
          4. We will notify the participants, eligible to claim the Prize by E-Mail / SMS.<br> <br>
          5. The chance to draw is valid for the same day and will expire at the end of the day.<br> <br>
          6. User should have a billing address within the territory of India.<br> <br>
          7. In case of any discrepency, the final decision will be of Coding Blocks.<br> <br>
          8. All coupons won during the campaign are valid for 24 hours only.<br> <br>
          <button class="spin-red" {{action (mut showTnC) true}} style="text-decoration: underline;">Terms and Conditions</button>
        </div>
      </div>
    </div>

    {{!-- winners list --}}
    <div class="col-md-6 mt-5">
      <Spin::SpinLeaderboard class="h-100" @stats={{stats}} />
    </div>
  </div>

  <div class="border-card mt-5 p-5">
    <h4 class="bold">
      Frequently Asked Questions (FAQ’s)
    </h4>
    <div class="mt-5">
      <h6 class="bold">
        Q.1 Who all are eligible to participate?
      </h6>
      <p>
        Yes everyone who has a Verified account on Coding Blocks is eligible to participate.
      </p>
    </div>

    <div class="mt-5">
      <h6 class="bold">
        Q.2 How will I receive my rewards / Prizes?
      </h6>
      <p>
        Coding Blocks will notify the participants, eligible to claim the Prize by e-mail / SMS.
      </p>
    </div>

    <div class="mt-5">
      <h6 class="bold">
        Q.3 How to get help regarding this?
      </h6>
      <p>
        For any details regarding the Contest and the Prizes thereof, please contact Coding Blocks Customer Care or mail us at 
        <a href="mailto:support@codingblocks.com">support@codingblocks.com</a>
      </p>
    </div>

    <div class="mt-5">
      <h6 class="bold">
        Q.4 When will contest start and end?
      </h6>
      <p>
        This Contest will be available from Feb 13, 2020 12:01 a.m. (IST) to Feb 19, 2020 11:59:59 p.m. (IST) only.
      </p>
    </div>
  </div>
</div>

{{#if showTnC}}
  <ModalDialog
    @onClose={{action (mut showTnC) false}}
    @translucentOverlay={{true}}
    @overlayClass="spin-overlay"
    @containerClass="container spin-modal-container p-5"
  >
    <h2>Terms and Conditions</h2>
    <ul style="list-style: decimal;">
      <li>The Coding Blocks Box of Love is organized by Coding Blocks Pvt. Ltd. Activity participants (hereinafter referred to as "Participants") take part in this by starting the game. All Participants shall be deemed as having agreed to the following terms and conditions.</li>
      <li>Amazon Voucher worth Rs. 500</li>
      <li>Validity of Coding Blocks Coupon is Only for 24 Hours after winning it.</li>
      <li>Only OTP verified mobile or email users can access this feature.</li>
      <li>Users who refer others to the program are "Referrers"; those who are referred are "Referred Customers." Referrers are may be eligible to receive "Hearts" for every qualified referral. "Qualifying Referral" means an individual that (a) does not currently have, and has never had, a Coding Blocks Account; (b) has not initiated the Sign-Up Process prior to clicking on your Referral Link; and (c) uses your Referral Link to complete the Sign-Up Process, and "Sign-Up Process" means the successful registration for a Coding Blocks Account pursuant to our Terms of Use</li>
      <li>Discount coupons won during this campaign are valid on limited products only.</li>
      <li>In case of any discrepency, the final decision will be of Coding Blocks.</li>
      <li>The prizes and thier final deliverablility is subject to change at any moment without due notice.</li>
    </ul>
  </ModalDialog>
{{/if}}
{{#if notVerifiedEmailModal}}
  <ModalDialog
    @onClose={{action (mut notVerifiedEmailModal) false}}
    @translucentOverlay={{true}}
    @overlayClass="spin-overlay"
    @containerClass="container spin-modal-container p-5"
  >
    <div class="row">
      <div class="li-right"></div>
    </div> 
    <h2>Steps to verify you email address</h2>
    <ul style="list-style: decimal;">
      <li>
        Visit 
        <a href="https://account.codingblocks.com/users/me" class="red">https://account.codingblocks.com/users/me</a>
      </li>
      <li>
        Enter your email address to get the verification link
      </li>
      <li>
        Click the verification link in your email
      </li>
    </ul>
    <div>
      <button class="button-solid" {{action (perform tryAgain)}}>
        Try Again
      </button>
      <p class="red">
        {{#if tryAgain.lastErrored}}
          Email is not verified
        {{/if}}
      </p>
    </div>
  </ModalDialog>
{{/if}}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
