<table class="w-100">
  <thead class="bold">
    <tr>
      <td class="pb-2">Result</td>
      <td class="pb-2">Score</td>
      <td class="pb-2">Time</td>
      <td class="pb-2">Language</td>
      <td class="pb-2">Test Cases</td>
    </tr>
  </thead>
  <tbody>
    {{#each problem.submissions as |submission|}}
      <tr>
        <td class="pb-4 pt-4 {{submission.resultParams.color}} font-sm">
          <FaIcon @icon={{submission.resultParams.icon}} class="pr-3" />
          <span>{{submission.resultParams.message}}</span>
          <a href="#" class="orange font-xs bold ml-3" {{action "viewSubmission" submission}}>View</a>
        </td>
        <td class="pb-4 pt-4">{{submission.score}}/100</td>
        <td class="pb-4 pt-4">{{submission.executionTime}}</td>
        <td class="pb-4 pt-4">{{submission.language}}</td>
        <td class="pb-4 pt-4">
          Passed: {{submission.passedTestCasesArray.length}} | Failed: {{submission.failedTestCasesArray.length}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if (and submissionToView viewSubmissionCode)}}
  {{#modal-dialog
    onClose=(action (mut viewSubmissionCode) false)
    translucentOverlay=true
    targetAttachment="none"
    overlayClass="centered-scrolling-overlay"
    wrapperClass="centered-scrolling-wrapper"
    containerClass="centered-scrolling-container bg-black-lighter p-4 pb-5"
  }}
    <h3 class="white">Submission #{{submissionToView.id}}</h3>
    <div class="bg-grey-darker">
      <pre class="p-4 white">{{submissionToView.sourceParsed}}</pre>
    </div>
  {{/modal-dialog}}
{{/if}}
