<table class="w-100">
  <thead class="bold">
    <tr>
      <td class="pb-2">Result</td>
      <td class="pb-2">Score</td>
      <td class="pb-2">Time</td>
      <td class="pb-2">Language</td>
      <td class="pb-2">Test Cases</td>
    </tr>
  </thead>
  <tbody>
    {{#each problem.submissions as |submission|}}
      <tr>
        <td class="pb-4 pt-4 {{submission.resultParams.color}} font-sm">
          <FaIcon @icon={{submission.resultParams.icon}} class="pr-3" />
          <span>{{submission.resultParams.message}}</span>
        </td>
        <td class="pb-4 pt-4">{{submission.score}}/100</td>
        <td class="pb-4 pt-4">{{submission.executionTime}}</td>
        <td class="pb-4 pt-4">{{submission.language}}</td>
        <td class="pb-4 pt-4">
          Passed: {{submission.passedTestCasesArray.length}} | Failed: {{submission.failedTestCasesArray.length}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
