<div class="container-fluid c-qna">
  <div class="d-flex row no-gutters justify-content-between align-items-center">
    <div class="col-8 heading">
      {{quiz.title}}
    </div>
    <div class="col-3 d-flex justify-content-end">
      <button class="button-solid" {{action 'startQuiz'}}>Start Quiz</button>
    </div>
  </div>
  <div class="row info">
    <div class="heading">
      About Quiz
    </div>
    <div class="w-100">
      {{quiz.description}}
    </div>
    <table>
      <tr>
        <td>Total:</td>
        <td>{{quiz.questions.length}} Questions</td>
      </tr>
      <tr>
        <td>Maximum Marks:</td>
        <td>{{multiply quiz.questions.length 10}} Marks</td>
      </tr>
      {{!-- <tr>
        <td>Duration:</td>
        <td>30 Mins</td>
      </tr> --}}
      <tr>
        <td>Question Type:</td>
        <td>MCQ</td>
      </tr>
    </table>
  </div>

  
  <div class="attempts">
    <div class="heading">
      Previous Attempts
    </div>
    <div class="card">
      <table>
        <thead>
          <td>S.No.</td>
          <td>Attempt Time</td>
          <td>Score</td>
          <td>Action</td>
        </thead>
        {{#each previousAttempts as |attempt index|}}
          <tr>
            <td>{{inc index 1}}</td>
            <td>
              {{moment-format attempt.createdAt 'MMM Do YYYY'}}
              <br>
              {{moment-format attempt.createdAt 'hh:m a'}}
            </td>
            <td class="green">{{defaultTo attempt.result.score 'NA'}}</td>
            <td class="red">
              {{#if (eq attempt.status 'FINAL')}}
                {{#link-to 'attempt.content.quiz.view' attempt.id class="red"}}
                  View
                {{/link-to}}
              {{else}}
                {{#link-to 'attempt.content.quiz.attempt' attempt.id class="red"}}
                  Resume
                {{/link-to}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div> 
 
</div>
