{{#if showFeedback}}
            {{#if (eq feedbackState 'COLLAPSED')}}
                                <div class="feed-box collapsed" {{action 'changeState' 'EXPANDED'}}>
                                    <img src="/images/love.svg" alt="" class="love-ico">
                                </div>
            {{else if (eq feedbackState 'EXPANDED')}}
                                <div class="feed-overlay"></div>
                                <div class="feed-box expanded">
                                    <div class="feed-text">Did you like the video?</div>
                                    <form>
                                        <input type="radio" name="gender" value="UP" {{action 'submitFeedback' 'UP'}}> Yes
                                        <input type="radio" name="gender" value="DOWN" {{action 'submitFeedback' 'DOWN'}}> No
                                    </form>
                                    <img src="/images/love.svg" alt="" class="love-ico"  {{action 'changeState' 'COLLAPSED'}}>
                                </div>
            {{else if (eq feedbackState 'SUBMITTED')}}
                                <div class="feed-overlay"></div>
                                <div class="feed-box">
                                    <div class="feed-text">Feedback Submitted</div>
                                    <img src="/images/love.svg" alt="" class="love-ico">
                                </div>
            {{else}}

            {{/if}}
{{/if}}