<div class="input-search dsp-none-sm bg-grey p-3">
  {{input 
    type="text" 
    class="bg-grey"
    placeholder="Search Content"
    value=qs key-press=(perform searchTask) 
    focusIn=(action 'showResult') 
    focusOut=(action 'hideResult')}}
  <FaIcon @icon="search" class="float-right" />

  {{#unless hideResultsBox}}
    <div class="search-box">
      {{#if searchTask.isRunning}}
        {{loader-component}}
      {{else}}
        {{#each results as |result|}}
          <div class="row search-content pointer align-items-center" {{action 'transitionToContent' result.contentId result.sectionId}}>
            <div class="img-container col-md-3">
              <div class="content-icon {{result.iconClass}}-{{if result.isDone 'green-dark' 'red-dark'}}"></div>
            </div>
            <div class="heading-container col-md-9">
              <div>{{result.title}}</div>
              <div class="font-sm">{{result.section}}</div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/unless}}
</div>