<div class="input-search nav-search dsp-none-sm">
  {{input type="text" placeholder="Search Contents.." value=qs key-press=(perform searchTask) focusIn=(action 'showResult') focusOut=(action 'hideResult')"}}
  <img src="/images/searchicon.png" alt="search">

  {{#unless hideResultsBox}}
    <div class="search-box">
      {{#if searchTask.isRunning}}
        {{loader-component}}
      {{else}}
        {{#each results as |result|}}
          <div class="row search-content pointer align-items-center" {{action 'transitionToContent' result.contentId result.sectionId}}>
            <div class="img-container col-md-3">
              <div class="content-icon {{result.iconClass}}-{{if result.isDone 'green-dark' 'red-dark'}}"></div>
            </div>
            <div class="heading-container col-md-9">
              <div>{{result.title}}</div>
              <div class="font-sm">{{result.section}}</div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/unless}}
</div>