<div class="p-5 mb-5 border-card white border-none" style="background-color: #292c33;">
  <WTabNav
    @tabs={{tabs}}
    @activeTab={{activeTab}}
    @onTabChange={{action (mut activeTab)}}>
    <div class="py-4">
      {{component activeTab.component codeChallenge=codeChallenge problem=problem}}  
    </div>
  </WTabNav>
</div>
<CodeChallenge::CodeChallengeCodeEditor
  @codeChallenge={{codeChallenge}}
  @problem={{problem}} />
