<div class="p-5 mb-5 border-card white border-none bg-grey-darker">
  <WTabNav
    @inactiveClass="white"
    @tabs={{tabs}}
    @activeTab={{activeTab}}
    @onTabChange={{action (mut activeTab)}}>
    <div class="py-4">
      {{component activeTab.component codeChallenge=codeChallenge problem=problem}}  
    </div>
  </WTabNav>
</div>
<CodeChallenge::CodeChallengeCodeEditor
  @ref={{relatedPendingDoubt.firebaseRef}}
  @codeChallenge={{codeChallenge}}
  @problem={{problem}} />
