<div class="row no-gutters">
  <div class="col-12">
    <div class="upgrade-modal">
      <div class="bg-gradient-dpurple px-lg-5 px-4 py-4 position-relative">
        <div class="row no-gutters align-items-center">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/upgrade.svg">
          <div class="flex-1 pl-4">
            <h2 class="bold gradient-text-green">Upgrade Now</h2>
            <div class="font-sm white mt-1">Upgrade now and get access to premimum features!</div>
          </div>
        </div>
        <a href="#" class="close" {{on "click" close}}>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cross-white.svg">
        </a>
      </div>
      <WAsync 
        @task={{fetchUpgradePack}} 
        @autoFire={{true}} 
        @loaderComponent={{component 'blockers/upgrade/loader'}}
      as |upgradePack| 
      >
        <div class="row no-gutters justify-content-between align-items-center border-bottom py-4 px-lg-5 px-4">
          <div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/premium.svg" class="mr-2">
            <span class="font-md bold gradient-text-orange">Premium</span>
          </div>
          <a href="/courses/{{courseId}}?compare=true" target="_blank" class="gradient-text-orange">View all features</a>
        </div>
        <div class="row px-lg-5 px-4 align-items-center my-4">
          <div class="col-sm-6 mb-sm-0 mb-4">
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/certification-med.svg" class="mr-4">
              <div class="flex-1 med-grey">Certificate of Achievement, Verified-Skill</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/briefcase-med.svg" class="mr-4">
              <div class="flex-1 med-grey">Placement Support (via Hiring Blocks)</div>
            </div>
          </div>
        </div>
        <div class="row px-lg-5 px-4 align-items-center mb-4">
          <div class="col-sm-6 mb-sm-0 mb-4">
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/person-med.svg" class="mr-4">
              <div class="flex-1 med-grey">Instant Doubt Resolution (TA Support)</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/goodies-med.svg" class="mr-4">
              <div class="flex-1 med-grey">Goodies &amp; Swags</div>
            </div>
          </div>
        </div>
        <div class="divider-h"></div>

        <div class="row no-gutters align-items-center justify-content-between py-4 px-lg-5 px-4">
          {{#if (not runAttempt.run.isStarted)}}
            <div class="col-12 t-align-c">
              You will be able to purchase an upgrade once your batch starts i.e <b> {{moment-format (unix runAttempt.run.start) "MMM Do YYYY"}} </b>
              Contact <a class="blue hoverable-underline" href="mailto:support@codingblocks.com">support@codingblocks.com</a> if you need assistance.
            </div>
          {{else if upgradePack}}
            <div class="flex-1">
              <div>
                <span class="font-xl bold gradient-text-orange mr-3">&#8377; {{upgradePack.price}}</span>
                {{!-- <span class="med-grey font-md extra-bold"><del>&#8377;&nbsp;5999</del></span> --}}
              </div>
              {{!-- <div class="gradient-text-orange mt-1">30% Discount</div> --}}
            </div>
            {{#if runAttempt.premium}}
              <a href={{buyLink}} target="_blank" class="button-solid button-orange">Upgrade</a>
            {{else}}
              <a href="/courses/{{runAttempt.run.course.identifier}}" class="button-solid button-orange mr-4"
                onclick={{action 'log' 'buy_now' runAttempt.run.course.identifier preventDefault=false}}>
                Buy Now to Upgrade
              </a>
            {{/if}}
          {{else}}
            <div class="col-12 t-align-c">
              No Upgrade Packs available. Please contact <a href="mailto:support@codingblocks.com">support@codingblocks.com</a>
            </div>
          {{/if}}
        </div>
      </WAsync>
    </div>
  </div>
</div>
  {{yield}}
