<div class="c-buy-top slide-up row no-gutters justify-content-between">
  <div class="col-6 align-self-center">
    <div class="row no-gutters">
      <div class="card-image col-sm-2">
        <img class="round" src={{course.logo}} alt="course image">
      </div>
      <div class="heading-d col-10 align-self-center">
        <div class="main-h">
          {{course.title}}
        </div>
        <div class="sub-h">
          Taught By :
          {{#each course.instructors as |instructor index|}}
          {{instructor.name}}{{if (lt index (sub course.instructors.length 1)) ", " " "}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 align-self-center">
    <div class="row justify-content-end">
      <a href="#runs">
        <button class="col-4 button-solid white">{{if course.organization 'Request Access' 'Buy Now'}}</button>
      </a>
      {{#unless course.organization}}
        {{#if session.isAuthenticated}}
        {{#link-to "classroom.timeline.index" course.id course.topRun.id class="col-4 button-dashed" tagName="button"}}
        Start Free Trial
        {{/link-to}}
        {{else}}
        <button class="col-4 button-dashed" onclick={{action 'logIn'}}>
          Start Free Trial
        </button>
        {{/if}}
      {{/unless}}
    </div>
  </div>
</div>

{{!-- Summary Section --}}
<div class="container mt-5">
  <div class="c-summary row mb-5">
    <div class="col-12 col-md-7 pr-md-5">
      <div class="img-desc no-gutters mb-3">
        <div class="col-3 col-sm-2 pr-4">
          <img class="round" src={{course.logo}} alt="course logo">
        </div>
        <div class="description col-9 col-sm-7 pl-3">
          <div>
            <h2 class="mb-2">{{course.title}}</h2>
            <div class="grey font-mds mb-2">
              {{course.subtitle}}
            </div>
            <div class="font-mds bold mb-3">
              Taught By: {{#each course.instructors as |instructor index|}}
              <span class="grey">{{instructor.name}}{{if (lt index (sub course.instructors.length 1)) ", " " "}}</span>
              {{/each}}
            </div>
          </div>
        </div>

      </div>

      <div class="mb-5">
      {{#unless course.organization}}
        <div class="d-flex badge">
          <h3 class="white col-10 col-sm-8">
            Get Certified & Win Goodies.
            <br>
            <span class="red">with this course</span>
          </h3>
          <img src="/images/stamp.png" alt="Coding Blocks Pvt Ltd">
        </div>
      {{/unless}}
      {{#if course.language}}
        <h3 class="mt-5">Language</h3>
        <div class="font-mds grey">All course contents will be in <span class="black">{{course.language}}</span></div>
      {{/if}}
        
        <h3 class="mb-3 mt-5">
          Summary
        </h3>
        <div class="para summary grey">
          {{markdown-to-html course.summary}}
        </div>

        {{#if course.topRun.tags}}
        <p class="mt-5">
          Major Topics Covered
        </p>

        <div>
          {{#each course.topRun.tags as |tag|}}
            <span class="pill m-1">{{tag.name}}</span>
          {{/each}}
        </div>
        {{/if}}
      </div>

      {{#unless getRatingStats.isRunning}}
      <h3 class="mb-4">Student Feedback</h3>


      <div class="row c-rating-stats no-gutters">
        <div class="col-4 score">
          <span class="font-lg bold">{{course.rating}}
          <br class="d-sm-none">
          </span><span class="bold font-md">out of 5</span>

          {{rating-stars-static rating=course.rating}}

          <div class="font-md extra-bold">
            {{course.reviewCount}} Ratings
          </div>
        </div>
        <div class="col-8 stats">
          {{#each (range 5 0) as |index|}}
          <div class="row">
            <div class="col-12 col-sm-7">
              <progress value={{get stats (sub index 1)}} max={{course.reviewCount}}></progress>
            </div>
            <div class="col-5 rating">
              {{#each (range 0 index)}}
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/unless}}
    </div>

    <div class="col-12 col-md-5 pr-md-0">
      {{!-- Buy right --}}
      <div class="c-buy-right">
        <div class="border-card">
          <div class="card-video">
            <iframe class="video" src={{course.promoVideo}} controls allowfullscreen></iframe>
          </div>
          <div class="button-container row justify-content-center">
            <a href="#runs">
              <button class="col-5 button-solid white">{{if course.organization "Request Access" "Buy Now"}}</button>
            </a>

            {{#unless course.organization}}
              {{#if session.isAuthenticated}}
              {{#link-to "classroom.timeline.index" course.id course.topRun.id class="col-5 p-0 button-dashed" tagName="button"}}
              Start Free Trial
              {{/link-to}}
              {{else}}
              <button class="col-5 p-0 button-dashed" onclick={{action "logIn"}}>
                Start Free Trial
              </button>
              {{/if}}
            {{/unless}}
          </div>

          <div class="course-features">
            {{#if course.coursefeatures}}
            <div class="row justify-content-center">
              {{#each course.coursefeatures as |feature|}}

              <div class="col-6 d-flex align-items-center mb-5">
                <div class="col-5 pl-0">
                  <img src="{{feature.icon}}" alt="">
                </div>
                <div class="col-7 align-self-center font-sm pr-0">
                  {{feature.text}}
                </div>
              </div>
              {{/each}}
            </div>
            {{/if}}
          </div>
          {{#unless course.organization}}
          <div class="footer">
            <img class="floating-img" src="/images/free.png" alt="Free">
            <div class="row red">
              <div class="col-8">
                Get a <span class="white">Wildcraft Backpack</span> and
                lots of goodies with this course!
              </div>
              <div class="col-4">
                <img src="/images/wildcraft.png" alt="Wildcraft">
              </div>
            </div>
          </div>
          {{/unless}}

        </div>
      </div>
    </div>
  </div>
  {{#unless getRatingStats.isRunning}}
  {{review-carousel courseId=course.id}}
  {{/unless}}

  <div class="row justify-content-center">
    <div class="col-12 {{if course.projects 'col-md-9'}}">
      <h3 class="mb-5">What will you learn?</h3>
      {{!-- Accordion --}}
      <div class="border-card accordion-card mb-5">
        <div class="c-accordion c-about-accordion">
          <div class="list-divided border-none">
            {{#each course.topRun.sections as |section|}}
            {{#accordion-head title=section.name total=section.totalContents duration=section.duration type="info" listType="divided" premium=section.premium}}
            <div class="pb-4 pt-4">
              {{#each section.contents as |content|}}
              <div class="row no-gutters {{if (not section.premium) "red" "grey"}}">
                <div class="li-left col-10 col-sm-8">
                  <div class="col-1 {{content.iconClass}}-red content-icon"></div>
                  <div class="col-11 col-sm-8">
                    {{content.title}}
                  </div>
                </div>
                <div class="li-right no-gutters col-2 col-sm-4">
                  {{#if section.premium}}
                  <div class="t-align-c">
                    <i class="fas fa-lock"></i>
                  </div>
                  {{else}}
                  <div class="col-12 col-sm-6">
                    {{#link-to "classroom.timeline" course.id course.topRun.id tagName="button" class="t-align-r"}}
                    Preview
                    {{/link-to}}
                  </div>
                  {{/if}}
                  <div class="grey col-6 dsp-none-xs">
                    {{format-duration content.duration}}
                  </div>
                </div>
              </div>
              {{/each}}
            </div>

            {{/accordion-head}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{!-- Projects --}}
    {{#if course.projects}}
      <div class="col-12 col-md-3">
        <h3 class="mb-5">Projects</h3>
        <div class="row">
          {{#each course.projects as |project index|}}
            <div class="col-12 mb-4">
              <div class="img-card">
                <div class="head">
                  <img class="back-img" src="{{project.image}}">
                  <div class="content white">
                    <h4>Project {{inc index 1}}</h4>
                  </div>
                </div>
                <div class="foot">
                  <h4>{{project.title}}</h4>
                  <div class="card-md">
                    {{project.description}}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</div>




{{!-- Instructor --}}

<div class="c-about-instructors mt-5">
  <div class="container">
    <h3 class="mb-5">
      About Instructors
    </h3>


    <div class="row no-gutters">
      {{#each course.instructors as |instructor|}}
      <div class="col-12 col-md-6 mb-5">
        <div class="img-desc row no-gutters">
          <div class="col-3 pr-4">
            <img class="round" src={{instructor.photo}} alt="photo of {{instructor.name}}">
          </div>
          <div class="description col-8">
            <div class="heading-d">
              <h4 class="bold">
                {{instructor.name}}
              </h4>
              <div class="red font-sm mb-3">
                Mentor, Coding Blocks
                <br>
                <a href="mailto:{{instructor.email}}">{{instructor.email}}</a>
              </div>
              <div class="classroom-para">
                {{markdown-to-html instructor.description}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>

{{#testimonials-video videoLink="https://www.youtube.com/embed/h_YmJLN9IgY"}}
  <h2 class="white">What our students say about us</h2>
  <h2 class="yellow semi-bold">Rashid Saifi shares his experience of Machine Learning Course</h2>
{{/testimonials-video}}
<div class="container mt-5">
  {{testimonials-view}}
</div>
{{!-- Available Batches --}}

<div class="bg-light-grey pb-5 pt-5 mb-5" id="runs">
  <div class="container">
    <h3 class="t-align-c">
      Choose Batches
    </h3>

    {{#if showCartModal}}
    {{cart-dialog dukaanCart=dukaanCart run=runToBuy onClose=(action (mut showCartModal) false)}}
    {{/if}}

    <div class="row justify-content-center m-0">
      {{#each availableRuns as |run|}}
      {{available-run-card run=run logInAndStartTrial=(action "logInAndStartTrial") enrollNowTask=enrollNowTask}}
      {{else}}
      No available runs right now ! Please check back later or drop a line at admissions.codingblocks.com.
      {{/each}}
    </div>
  </div>
</div>