{{!-- {{course.title}}
<div class="card-layout col-md-4">
    <div class="card c-layout-card ">
        <div class="card-image c-image-card">
            <img src="images/c++">
        </div>
        <div class="card-heading c-text-card">
            Registration Open for Launchpad online
        </div>
        <div class="card-text">
            Learn data structures & algorithm in C++
        </div>
        <div class="button-solid">
            <button>Register</button>
        </div>
    </div>
</div> --}}
<div class="c-buy-top slide-up row no-gutters justify-content-between">
  <div class="col-6 align-self-center">
    <div class="row no-gutters">
      <div class="card-image col-sm-2">
        <img src="{{course.logo}}" alt="course image">
      </div>
      <div class="heading-d col-10 align-self-center">
        <div class="main-h">
          {{course.title}}
        </div>
        <div class="sub-h">
          Mentor :
          {{#each course.instructors as |instructor index|}}
             {{instructor.name}}{{if (lt index (sub course.instructors.length 1)) ", " " "}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 align-self-center">
    <div class="row justify-content-end">
      <div class="button-dashed col-6">
        {{#if session.isAuthenticated}}
            {{#link-to "classroom.timeline.index" course.id course.topRun.id tagName="button"}}
                START FREE TRIAL
            {{/link-to}}
        {{else}}
            <button onclick={{action 'logIn'}}>
                START FREE TRIAL
            </button>
        {{/if}}
      </div>
      <div class="button-solid col-6">
          <a href="#runs">
              <button class="white">BUY NOW</button>
          </a>
      </div>
    </div>
  </div>
</div>

{{!-- Summary Section --}}
<div class="c-summary">
  <div class="classroom-container row">
    <div class="classroom-header-box col-md-8 col-sm-12 col-xs-12">
      <div class="classroom-header row">
        <div class="classroom-image col-md-2 col-xs-2 col-sm-2">
          <img src="{{course.logo}}" alt="course logo">
        </div>
        <h1 class="classroom-text col-md-10 col-xs-10 col-sm-10">
          {{course.title}}
        </h1>
      </div>

      <h2 class="classroom-para">
        {{course.subtitle}}
      </h2>

      <br>

      <div class="para">
        <span class="key">Mentor : </span>
        {{#each course.instructors as |instructor index|}}
             {{instructor.name}}{{if (lt index (sub course.instructors.length 1)) ", " " "}}
          {{/each}}
      </div>

      {{!-- <div class="button-solid">
        <button>BUY NOW TO ENROLL</button>
      </div> --}}

      <div class="heading-u">
        Summary
      </div>

      <div class="para summary">
        {{markdown-to-html course.summary}}
      </div>
    </div>
  </div>

  {{#unless getRatingStats.isRunning}}
    <div class="heading-u">
      Student Feedback
    </div>


    <div class="row c-rating-stats no-gutters">
      <div class="col-1 score">
        <span class="font-lg bold">{{course.rating}}</span><span class="bold">out of 5</span>

        {{rating-stars-static rating=course.rating}}

        <div>
          {{course.reviewCount}} Ratings
        </div>
      </div>
      <div class="col-7 col-sm-9 col-md-7 col-lg-5 stats">
        {{#each (range 5 0) as |index|}}
          <div class="row">
            <div class="col-12 col-sm-9">
              <progress value="{{get stats (sub index 1)}}" max="{{course.reviewCount}}"></progress>
            </div>
            <div class="col-3 rating">
              {{#each (range 0 index)}}
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    {{review-carousel courseId=course.id}}
  {{/unless}}
</div>

{{!-- Buy right --}}

<div class="c-buy-right">
  <div class="card">
    <div class="card-video">
      <div class="preview">
        <iframe src="{{course.promoVideo}}" controls allowfullscreen></iframe>
      </div>

    </div>
    <div class="button-container row justify-content-center">
        <div class="button-solid col-5">
            <a href="#runs">
                <button class="white">BUY NOW</button>
            </a>
        </div>

      <div class="button-dashed col-5 p-0">
          {{#if session.isAuthenticated}}
              {{#link-to "classroom.timeline.index" course.id course.topRun.id tagName="button"}}
                  START FREE TRIAL
              {{/link-to}}
          {{else}}
              <button onclick={{action 'logIn'}}>
                  START FREE TRIAL
              </button>
          {{/if}}
      </div>
    </div>

    <div class="course-features">
      <div class="row justify-content-center">
        <div class="col-2 align-self-center">
          <div class="img-container">
            <div class="round-img">
              <img src="/images/content-2.png" alt="">
            </div>
          </div>

        </div>
        <div class="para col-4 align-self-center">
          100+ lecture Video Content
        </div>

        <div class="col-2 align-self-center">
          <div class="img-container">
            <div class="round-img">
              <img src="/images/revise-2.png" alt="">
            </div>
          </div>

        </div>
        <div class="para col-4 align-self-center">
          Re-visit and Revise topics
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-2 align-self-center">
          <div class="img-container">
            <div class="round-img">
              <img src="/images/certificate-2.png" alt="">
            </div>
          </div>

        </div>
        <div class="para col-4 align-self-center">
          Certification of Completion
        </div>

        <div class="col-2 align-self-center">
          <div class="img-container">
            <div class="round-img">
              <img src="/images/support-2.png" alt="">
            </div>
          </div>

        </div>
        <div class="para col-4 align-self-center">
          24x7 mentor support
        </div>
      </div>


    </div>

  </div>
</div>

{{!-- Accordion --}}

<div class="custom-heading accordion-head">
  <div class="heading-u mb-5">
    What will you learn
  </div>
</div>

<div class="card accordion-card">
  <div class="c-accordion c-about-accordion">
    <div class="list-divided border-none">
      {{#each course.topRun.sections as |section|}}
      {{#accordion-head title=section.name total=section.totalContents duration=section.duration type="info" listType="divided"}}
      <div class="pb-4 pt-4">
        {{#each section.contents as |content|}}
          <div class="row no-gutters {{if (not section.premium) 'red' 'grey'}}">
            <div class="li-left col-10 col-sm-8">
              <div class="col-1 {{content.iconClass}}-red content-icon"></div>
              <div class="col-11 col-sm-8">
                {{content.title}}
              </div>
            </div>
            <div class="li-right no-gutters col-2 col-sm-4">
              {{#if section.premium}}
                <div class="t-align-c">
                  <i class="fas fa-lock"></i>
                </div>
              {{else}}
                <div class="col-12 col-sm-6">
                  {{#link-to "classroom.timeline.index" course.id course.topRun.id tagName="button" class="t-align-r"}}
                  Preview
                  {{/link-to}}
                </div>
              {{/if}}
              <div class="grey col-6 dsp-none-xs">
                {{format-duration content.duration}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      
      {{/accordion-head}}
      {{/each}}
    </div>
  </div>
</div>

{{!-- Instructor --}}

<div class="c-instructor">
  <div class="heading-u">
    About Instructors
  </div>

  <div class="c-about-instructors" >
    <div class="row no-gutters">
      {{#each course.instructors as |instructor|}}
        <div class="col-md-6 col-sm-12">
          <div class="img-desc row no-gutters">
            <div class="col-3">
              <div class="img-container">
                <div class="round-img">
                  <img src="{{instructor.photo}}" alt="photo of {{instructor.name}}">
                </div>
              </div>

            </div>


            <div class="description col-8">
              <div>
                <div class="main-h">
                  {{instructor.name}}
                </div>
                <div class="sub-h">
                  Mentor, Coding Blocks
                </div>
                <div class="classroom-para">
                  <a href="mailto:{{instructor.email}}">{{instructor.email}}</a>
                </div>
              </div>

              <div class="classroom-para">
                {{markdown-to-html instructor.description}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</div>

{{!-- Available Batches --}}

<div class="c-batches">
<div class="heading-u" id="runs">
  Choose from Available Batches
</div>

<div class="grid row">
    {{#each availableRuns as |run|}}
	<div class="c-layout-card col-md-4 col-sm-6">
		<div class="card c-run-card">
			<div class="card-heading c-text-card">
          {{run.description}}
        </div>
        <div class="row">
          {{!-- <div class="card-text">
            {{run.description}}
          </div> --}}
          <div class="batch">
            <div class="card-text grey">
              Batch Starts
            </div>
            <div class="card-text">
              {{moment-format (unix run.start) 'MMM Do YYYY'}}
            </div>
          </div>

          <div class="divider-v"></div>

          <div class="batch">
            <div class="card-text grey">
              Batch Ends
            </div>
            <div class="card-text">
              {{moment-format (unix run.end) 'MMM Do YYYY'}}
            </div>
          </div>
        </div>

        <div class="price">
          {{format-price run.price}}

          {{#unless (eq run.mrp run.price)}}
            <span class="grey">
              &nbsp;&nbsp;<strike style="font-size: 0.9rem">{{format-price run.mrp}}</strike>
            </span>
          {{/unless}}
        </div>

        <div class="my-course-enroll row no-gutters">
          <div class="col-8 align-self-end">
            <div>HURRY UP!</div>
            <div class="red">Enrollment ends {{moment-format (unix run.enrollmentEnd) 'MMM Do YYYY'}} </div>
        </div>	
				<div class="button-parent col-4">
                                    <a href="#" {{action (perform enrollNowTask run.id)}}>
                                        <div class="button-solid">
                                            <button>
                                              {{if enrollNowTask.isRunning 'Enrolling...' 'Enroll Now'}}
                                              
                                            </button>
                                        </div>
                                    </a>
				</div>

			</div>

			<div class="card-mentor-divider"></div>
      {{#if run.tags.length}}
        <div class="font-sm">Major topics covered</div>
        <div class="tag-container">
          {{#each run.tags as |tag|}}
            <div class={{if (gt run.tags.length 6) "pill-sm" "pill"}}>
              {{tag.name}}
            </div>
          {{/each}}
        </div>

        <div class="card-mentor-divider"></div>
      {{/if}}
      
			<div class="row no-gutters">
				<div class="col-8 align-self-center">
					You may also try our
					free lectures:
				</div>
				<div class="button-parent col-4">
					<div class="button-dashed">
              {{#if session.isAuthenticated}}
                {{#link-to "classroom.timeline.index" course.id run.id tagName="button" activeClass=""}}
                  Start Free Trial
                {{/link-to}}
              {{else}}
                <button {{action 'logInAndStartTrial' course.id run.id}}>
                  Start Free Trial
                </button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div> 
  {{else}}
    No available runs right now ! Please check back later or drop a line at admissions.codingblocks.com.
  {{/each}}
</div>
</div>
