<div class="row doubt">
  <div class="d-flex flex-row doubt-head">
    <div class="left flex-row mr-auto">
      <div class="round-img">
        <img src="{{photoUrl}}" class="rounded-circle">
      </div>
      <div class="author-name">
        {{topic.username}}
        <br>
        <span class="time">{{moment-from-now topic.created_at}}</span>
      </div>
    </div>
    <div class="text">
      {{#if (eq topicResponse.posts_count 1)}}
        {{topicResponse.posts_count}} Reply
      {{else}}
        {{topicResponse.posts_count}} Replies
      {{/if}}
    </div>
    <div class="button-dashed reply">
      <a href="{{redirectLink}}" target="_blank" style="color: #ff6666">
        <button>Reply Now</button>
      </a>
    </div>
  </div>

  <div class="doubt-body">
    {{{topic.cooked}}}
  </div>
</div>
