<div class="row">
  <div class="col-md-8 my-4">
    <div class="border-card p-4 bg-gradient-pink"
      style="background: url({{ track.background }}); background-size: cover; background-position: center">
      <div class="row no-gutters justify-content-between align-items-center">
        <div class="flex-1 pr-2">
          <div class="row align-items-center no-gutters">
            <div class="">
              <img src="{{ track.logo }}" class="tracks-logo p-0 s-70x70">
            </div>
            <div class="flex-1 white pl-4">
              <h3 class="bold">{{ track.name }}</h3>
              <div class="normal">
                {{ track.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="pill pill-white d-sm-block d-none">{{ track.courseContent }} Courses</div>
      </div>
      <div class="t-align-c mt-3 d-sm-none d-block">
        <div class="pill pill-white">{{ track.courseContent }} Courses</div>
      </div>
    </div>

    <div class="pl-4">
      <div class="border-left">
        {{#if (not coursesLoaded)}}
        {{#each (repeat 3)}}
        <Tracks::TracksCourseRowLoading />
        {{/each}}
        {{else}}
        {{#each courses as |course index|}}
        <Tracks::TracksCourseRow @course={{course}} @index={{index}} />
        {{/each}}
        <div class="px-5 pt-5 position-relative">
          <div class="track-indicator">&#8226;</div>
          <div class="row no-gutters align-items-center mb-5">
            <div class="col-md-2 t-align-md-l t-align-c">
              <img src="https://minio.codingblocks.com/amoeba/badge-orange.svg" />
            </div>
            <div class="col-md-10 t-align-md-l t-align-c">
              <div class="gradient-text-orange font-md">
                Certified in {{track.name}}
              </div>
              <div>
                At the end of the track, you will be job ready and can start applying for jobs!
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-md-4 my-4">
    <Tracks::TracksDoubtsForm />
    <WAsync @task={{fetchInstructorsTask}} @autoFire="true" as |instructors|>
      <MentorCard class="mt-5" @instructors={{instructors}} />
    </WAsync>
    <WAsync @task={{fetchJobsTask}} @autoFire="true" as |jobs|>
      <JobsCard class="mt-5" @jobs={{jobs}} />
    </WAsync>
  </div>
</div>