<div class="row">
  <div class="col-md-8 my-4">
    <div class="border-card px-3 p-4 bg-gradient-pink" style="background: url({{track.background}}); background-size: cover; background-position: center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="col-xl-10 col-md-8 col-12">
          <div class="row justify-content-between align-items-center">
            <div class="">
               <img src="{{track.logo}}" alt="" class="tracks-logo p-0 s-70x70">
              {{!-- <div class="s-50x50">
               
              </div> --}}
            </div>
            <div class="col-10 white">
              <h3 class="bold">{{track.name}}</h3>
              <div class="normal">
                {{track.description}}
              </div>
            </div>
          </div>
        </div>
        <div class="pill pill-white">{{track.courseCount}} Courses</div>
      </div>
    </div>
    <div class="pl-4">
      <div class="b-left">
        {{#if (not coursesLoaded)}}
          {{#each (repeat 3)}}
            <Tracks::TracksCourseRowLoading />
          {{/each}}
        {{else}}
          {{#each courses as |course index|}}
            <Tracks::TracksCourseRow @course={{course}} @index={{index}}/>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-md-4 my-4">
    <Tracks::TracksDoubtsForm />
    <WAsync @task={{fetchInstructorsTask}} @autoFire="true" as |instructors|>
      <MentorCard
        class="mt-5"
        @instructors={{instructors}} />
    </WAsync>
  </div>
</div>
