{{otp-enroll}}
<div class="container-courses">
    <div class="heading">
        <p>My Courses</p>
    </div>
    <div class="row">
        {{#each runs as |run index|}}
            <div class="card-layout col-md-4 col-sm-6">
                <div class="card o-layout-card ">

                  <div data-completed="false" class="status-circle offset-md-8 col-md-4">
                    <div class="circle-back">
                      <div class="circle-front">
                        <p class="progress-text">{{percentage run.course
                                                              .completedContents run.course.totalContents}}%</p>
                      </div>
                    </div>
                  </div>

                    <div class="card-image o-image-card">
                        <img src="{{defaultTo run.course.logo '/images/c++'}}">
                    </div>

                    <div class="card-heading o-text-card">
                        {{run.course.title}}
                    </div>
                    <div class="card-text">
                        {{run.course.subtitle}}
                    </div>
                    <div class="card-mentor">
                        <div class="card-mentor-image">
                            <img class="card-mentors" src="{{run.course.instructor.photo}}">
                        </div>
                        <div class="card-mentor-text">
                            <span>Instructors</span>
                            <div class="card-mentor-name">{{run.course.instructor.name}}</div>
                        </div>
                    </div>
                    <div class="card-mentor-divider"></div>
                    <div class="price-detail row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="card-price-details">
                                <div class="card-batches">
                                   {{run.name}}
                                </div>
                            </div>
                        </div>
                        <div class="button-parent col-md-6 col-sm-12 col-xs-12">

                            <div class="button-solid">
                                {{#link-to "classroom.timeline" run.course.id run.id tagName="button"}}
                                    Resume
                                {{/link-to}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {{/each}}
    </div>
</div>

{{recommended-courses}}