<div class="c-dashboard-doubts border-card p-4 p-sm-5 mb-5">
  {{#if recent}}
    Hi
  {{else}}
    <div class="d-flex head">
      <h4 class="mr-auto">
        Ask your doubts ({{topic_list.topics.length}})
      </h4>
      <a href="{{redirectLink}}" target="_blank">  
        <button class="button-solid">Discussion Forum</button>
      </a>
    </div>

    {{#if loading}}
      {{loader-component}}
    {{else}}
      <div class="list-divided border-none">
        {{#each topic_list.topics as |topic|}}
          {{doubt-view topicId=topic.id}}
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
</div>
