
<div class="row align-items-center py-5">
  <div class="col-12 col-md-6">
    <h2 class="mb-3">We Have Jobs</h2>
    <div class="grey mb-5 font-sm">
      Get recruited by top multinational companies and get worldwide recognition
    </div>
  </div>
  <div class="col-12 col-md-6 t-align-l t-align-md-r">
    <img src="https://via.placeholder.com/350x100.jpg" alt="Partner Logos">
  </div>
</div>


<WTabNav
  @tabs={{tabs}}
  @activeTab={{activeTab}}
  @onTabChange={{action (mut activeTab)}}
>
  <div class="d-flex my-4 justify-content-between">
    <div class="d-flex w-50">
      <div class="flex-1 font-md">Filter Jobs</div>

      <div class="flex-1 mx-5">
        <PowerSelectMultiple 
          @selected={{locations}}
          @options={{possibleLocations}}
          @closeOnSelect={{false}}
          @placeholder="Location"
          @triggerComponent={{component 'job-filter/trigger-component'}}
          @onChange={{action (mut locations)}}
        as |location|>
          <Input 
            @type="checkbox" 
            @checked={{includes locations location}} />  
          {{location}}
        </PowerSelectMultiple>
      </div>

      <div class="flex-1 mx-5">
        <PowerSelectMultiple 
          @selected={{jobTypes}}
          @options={{possibleJobTypes}}
          @closeOnSelect={{false}}
          @placeholder="Job Type"
          @triggerComponent={{component 'job-filter/trigger-component'}}
          @onChange={{action (mut jobTypes)}}
        as |type|>
          <Input 
            @type="checkbox" 
            @checked={{includes jobTypes type}} />  
          {{type}}
        </PowerSelectMultiple>
      </div>

    </div>

    {{#if showApplyButton}}
      <button class="orange" {{action "apply"}}>
        Apply Filter
      </button>
    {{/if}}
  </div>

<div class="divider-h my-4"></div>

  {{#if (or selectedLocations.length selectedJobTypes.length)}}
    <div class="mb-4">
      Search results for:
      {{!-- filter pills --}}
      {{#each selectedLocations as |location|}}  
        <button class="button-dashed button-orange" {{action 'removeObject' selectedLocations location}}>
          {{location}} X
        </button>
      {{/each}}
      {{#each selectedJobTypes as |type|}}  
        <button class="button-dashed button-orange" {{action 'removeObject' selectedJobTypes type}}>
          {{type}} X
        </button>
      {{/each}}
    </div>
  {{/if}}

  <div class="mb-5">
    {{component activeTab.component 
      filters=(hash locations=selectedLocations jobTypes=selectedJobTypes)
    }}
  </div>
</WTabNav>
