


<div class="all-center px-2">
  <img src="https://via.placeholder.com/990x150.jpg?text=We Have Jobs" alt="" />
</div>

<WTabNav
  @tabs={{tabs}}
  @activeTab={{activeTab}}
  @onTabChange={{action (mut activeTab)}}
>
  <div class="d-flex my-4 justify-content-between">
    <div class="d-flex w-50">
      <div class="flex-1 font-md">Filter Jobs</div>

      <div class="flex-1 mx-5">
        <PowerSelectMultiple 
          @selected={{locations}}
          @options={{possibleLocations}}
          @onChange={{action (mut locations)}}
        as |location|>
          {{location}}
        </PowerSelectMultiple>
      </div>

      <div class="flex-1 mx-5">
        <PowerSelectMultiple 
          @selected={{jobTypes}}
          @options={{possibleJobTypes}}
          @onChange={{action (mut jobTypes)}}
        as |type|>
          {{type}}
        </PowerSelectMultiple>
      </div>

    </div>

    <div class="orange pointer">
      Apply Filter
    </div>
  </div>

  <hr class="mb-2">

  <div>2 search results for "fuck"</div>
  {{component activeTab.component}}
</WTabNav>