<div class="timeline" id="timelineContainer">  
  <Player::PlayerHeader  
    @run={{run}} />

    
    <div class="row no-gutters timeline__main-area">
      <div class="col-lg-3 col-12 timeline__main-area__content-bar pr-4 order-2" id="contentScrollContainer">
        <div class="position-sticky d-lg-block d-none">
          <h4 class="bold font-mds" id="start-player-tour">
            Course Content 
            <i class="far fa-question-circle icon-hover-fill pointer" title="Take Tour" {{action "startTour"}} ></i>
          </h4>
          <div class="divider-h"></div>
        </div>

         <div class="d-lg-none timeline__main-area__content-bar__title--phone" {{action 'toggleContentList'}} role="button">
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="col-10">
                <h6 class="bold gradient-text-orange">{{currentSection.name}}</h6>
                <div class="normal mt-1">{{markdown-to-html currentContent.title}}</div>
              </div>
              <i class="far fa-bookmark fa-lg"></i>
            </div>
        </div>
        
        <div class="collapsible-content {{if contentListCollpased 'collapsible-content--hidden'}}">
          <div class="d-lg-none pt-4">
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-normal mr-3">Course Progress</span>
              <div class="flex-1">
                <progress value={{runAttempt.progressPercent}} max="100" class="progress-orange"></progress>
              </div>
              <span class="bold ml-3">{{runAttempt.progressPercent}}%</span>
            </div>
          </div>
          <Player::PlayerSectionList 
            @currentSectionId={{currentSectionId}}
            @sections={{sections}} />
        </div>
      </div>
      
        {{outlet}}
    </div>
    <div class="d-lg-none d-block px-4">
      {{#if player.isActive}}
        <Player::PlayerTabs />
      {{/if}}
    </div>
</div>
