<div class="o-content-section">
    <div class="header flex-row">
        <div class="section-toggler flex-row">
            <div class="button-dashed" {{action 'toggleSideBar'}}>
              <button>
                {{#if (not sidebarCollapsed)}}
                  <i class="far fa-times-circle"></i>&nbsp;
                {{else}}
                  <i class="fas fa-bars"></i>&nbsp;
                {{/if}}
                Course Content
              </button>
            </div>
        </div>
        {{outlet "heading"}}
    </div>

    <div class="content-section">
      <div class="content {{if (not sidebarCollapsed) 'collapse'}}">
        {{outlet}}
      </div>
        <div class="section {{if sidebarCollapsed 'collapse'}}">
          <div class="section-collapsor row justify-content-between" {{action 'toggleAccordian'}}>

            <div class="col-10 align-self-center">
              COURSE CONTENTS</div>
            <div class="align-self-center">
              <i class="fas {{if accordianCollapsed 'fa-chevron-down' 'fa-chevron-up'}}"></i>
            </div>
          </div>
            {{#unless accordianCollapsed}}
              <div class="o-accordian">
                  {{#each sections as |section|}}
                      <div class="accordian-ul" data-show="true">
                          {{#accordian-head title=section.name completed=section.doneContents.length total=section.contents.length collapsed=(not (eq section.id sectionId))}}
                              {{#each section.contents as |content|}}
                                  <div data-completed="{{content.isDone}}" class="accordian-li" {{action 'transitionToContent' content.id section.id}}>
                                      <div class="li-left flex-row">
                                          <div class="accordian-li-type">
                                            <div class="content-icon {{content.iconClass}}-{{if content.isDone 'green-dark' 'red-dark'}}"></div>
                                          </div>
                                          <div class="accordian-li-heading">
                                              {{content.payload.name}}
                                          </div>
                                      </div>

                                      <div class="flex-row">
                                          <div class="circle-back">
                                              <div class="circle-front" {{action 'toggleProgress' content bubbles=false}}></div>
                                          </div>
                                      </div>
                                  </div>
                              {{/each}}
                          {{/accordian-head}}
                      </div>
                  {{/each}}
              </div>
            {{/unless}}
        </div>
    </div>
</div>
