<div class="c-content-section">
  <div class="content-section">
    <div class="content {{if (not sidebarCollapsed) 'collapse'}}">
      <div class="header flex-row">
        <div class="dashboard row no-gutters justify-content-between">
          <div class="flex-row white pointer dsp-none-sm" {{action 'toggleSideBar'}}>
              {{#if (not sidebarCollapsed)}}
                <i class="far fa-times-circle"></i>
              {{else}}
                <i class="fas fa-bars"></i>
              {{/if}}
          </div>
          {{outlet "heading"}}
        </div>
      </div>
      <div class="content-container">
        {{outlet}}
      </div>
    </div>
    <div class="section {{if sidebarCollapsed 'collapse'}}">
      <div class="tab-nav">
          <div 
            class="tab-items {{if isContentsTabActive 'active'}}"
            {{action "setActiveTab" "contents"}}
          >
            Table Of Content
          </div>
          <div class="tab-items {{if isNotesTabActive 'active'}}" {{action "setActiveTab" "notes"}} >Notes(08)</div>
        </div>
      <div class="section-tabs">
        {{!-- {{#unless accordianCollapsed}} --}}
        {{#liquid-if isContentsTabActive class="slide"}}
          <div class="c-accordian">
            {{#each sections as |section|}}
            <div class="accordian-ul" data-show="true">
              {{#accordian-head title=section.name completed=section.doneContents.length total=section.contents.length
              collapsed=(not (eq section.id sectionId))}}
              {{#each section.contents as |content|}}
              <div data-completed="{{content.isDone}}" class="accordian-li"
                {{action 'transitionToContent' content.id section.id}}>
                <div class="li-left flex-row">
                  <div class="accordian-li-type">
                    <div class="content-icon {{content.iconClass}}-{{if content.isDone 'green-dark' 'red-dark'}}"></div>
                  </div>
                  <div class="accordian-li-heading">
                    {{content.payload.name}}
                  </div>
                </div>

                <div class="flex-row">
                  <div class="circle-back">
                    <div class="circle-front" {{action 'toggleProgress' content bubbles=false}}></div>
                  </div>
                </div>
              </div>
              {{/each}}
              {{/accordian-head}}
            </div>
            {{/each}}
          </div>
        {{else}}
          {{notes-view runAttempt=model}}
        {{/liquid-if}}
      </div>
      
      
      
    </div>
  </div>
</div>