<div class="row align-items-center no-gutters justify-content-between py-4 px-lg-5 px-4 bg-light-grey">
  <div class="flex-1">
    <div class="t-align-md-l t-align-c">
      <div class="font-sm bold">ENROLL TO COURSES VIA OTP</div>
      <div class="red mt-1">
        {{#if otpSent}}
        We have sent an OTP to your registered Email
        {{else if errorString}}
        {{errorString}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-12 col-md-7 mt-md-0 mt-4">
    <div class="row justify-content-center justify-content-lg-end no-gutters align-items-center">
      <div class="flex-1">
        <div class="search-bar w-100 bg-white">
          {{input type="text" placeholder=placeholderText value=userInput}}
        </div>
      </div>
      <div class="ml-4">
        <button class="button-solid button-orange" {{action 'handleClick'}}>
          {{buttonText}}
        </button>
      </div>
    </div>
  </div>
</div>