<div class="top">
  <div class="new-doubt">
    <div class="head">
      <span>Ask a Doubt</span>
      <button {{action (perform askDoubtTask)}} class="button-solid {{if disableAskDoubts "disabled"}}">Post Doubt</button>
    </div>

    {{#if err}}
      <div class="red card-md t-align-c pt-3"><i class="fas fa-exclamation-triangle"></i> {{{err}}} </div>
    {{/if}}

    <div class="input-group">
      {{input type="text" placeholder="Title" value=title}}
      {{textarea placeholder="Description" rows="2" value=body}}
    </div>
  </div>

  <div class="nav">
    <div role="button" class="tab {{if (eq activeTab "PENDING") "active"}}" {{action "setActiveTab" "PENDING"}}>Unresolved({{unresolved}})</div>
    <div role="button" class="tab {{if (eq activeTab "RESOLVED") "active"}}" {{action "setActiveTab" "RESOLVED"}}>Resolved({{sub existingDoubts.length unresolved}})</div>
  </div>
</div>

<div class="bottom">
  {{#if  (eq activeTab "PENDING")}}
    {{#if (not unresolved)}}
      <div class="p-3 t-align-c">You have no unresolved doubts.</div> 
    {{/if}}
  {{else}}
    {{#if (not (sub doubts.length unresolved))}}
      <div class="p-3 t-align-c">You have no resolved doubts.</div>
    {{/if}}
  {{/if}}
  
  {{#each existingDoubts as |doubt|}}
    {{#if (eq activeTab doubt.status)}}
      {{doubt-view-attempt doubt=doubt comments=doubt.comments}}
    {{/if}}
  {{/each}}
</div>