<div>

  <div class=" row py-4 px-md-5 px-3 position-relative"
    style="background-image: url(https://cb-thumbnails.s3.ap-south-1.amazonaws.com/CertificateOfExcellenceGoldenBackground.svg);">
    <div class="mr-4" style="flex-shrink: 0;">
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/CertificateOfExcellenceGolden.svg"
        alt="CertificateOfExcellence" class="mt-2" />
      <img src={{run.course.goldenLogo}} class="s-100x100"
        style="position: absolute; border-radius:50%; top:60%; right:10%" />
    </div>

  </div>


  <div class="py-5 px-md-5 px-3 row">
    {{!-- <h4 class="bold">
      Excellence Certificate
    </h4> --}}
    <p class="font-sm">
      We recognize the dedication and hard work you put during the course. 
      Excellence certificates are presented to limited students who are at top of their the class.
    </p>
      
      <p class="font-sm">
      Complete {{run.completionThreshold}}% of the course and be in the top {{run.excellenceThreshold}}
      percentile to generate excellence certificate.</p>
  </div>

  {{#if canDownload}}
    <button class="button-solid button-orange float-right mb-4 mr-5"
      {{action 'downloadCertificate'}}>
      Download
    </button>
  {{else if isQualifiedForExcellenceCertififcate}}
    {{#if isGenerating}}
      <button class="button-solid button-grey float-right mb-4 mr-5" disabled title="check back in few hours">Certificate Already Requested</button>
    {{else}}
      <button {{action (perform excellenceCertificateTask)}} class="button-solid button-orange float-right mb-4 mr-5" disabled={{excellenceCertificateTask.isRunning}}>
        {{if excellenceCertificateTask.isRunning 'Generating...' 'Generate'}}
      </button>
    {{/if}}
  {{else}}
    <button class="button-solid button-grey float-right mb-4 mr-5" disabled>Generate</button>
  {{/if}}

</div>