{{#each (range 1 (inc @scale)) as |index|}}
  <span
    class={{if (lte index this.hoverRating) @filledClass @emptyClass}}
    onMouseEnter={{fn (mut this.hoverRating) index}}
    onClick={{fn @changeRating index}}
    onMouseLeave={{fn (mut this.hoverRating) @rating}}
    role="button"
  >
    {{#if (lte index this.hoverRating)}}
      <RatingBar::FilledStar />
    {{else}}
      <RatingBar::EmptyStar />
    {{/if}}
  </span>
{{/each}}
