{{#if run.certificateTemplate}}
<div class="c-certificate">
  <div class="top-row">
    <img src="/images/certification-i.svg" alt="">
    <div class="right">
      <div class="heading">Generate Certificate</div>
      <div class="text">
        <img src="/images/warning.svg" alt="">
        Generate only when you are satisfied with your
        current score. You are not allowed to regenerate it.
      </div>
    </div>
  </div>

  <div class="checklist">
    <div class="option {{if courseCompleted 'correct'}}"> Course Completion: {{ run.completionThreshold }}%+</div>
    <div class="option {{if runAttempt.certificateApproved 'correct'}}">
      <p>Mentor Approval</p>
      {{#if courseCompleted}}
      {{#if (or runAttempt.approvalRequested runAttempt.certificateApproved) }}

      <button class="button-solid disabled">Requested</button>

      {{else}}

      <button class="button-solid ml-4" {{action (perform requestApprovalTask)}}>Request</button>

      {{/if}}
      {{/if}}
    </div>
    <div class="option correct"> Verify your details <a href="https://account.codingblocks.com/users/me"
        target="_blank"> &nbsp; here </a> </div>
  </div>

  <div class="cta justify-content-center justify-content-md-end">
    {{#if generationRequested}}
    <div class="red">
      Certificate Requested !
    </div>
    {{else if runAttempt.certificate}}
    {{#if (eq runAttempt.certificate.status 'published')}}
    <a href="{{runAttempt.certificate.url}}" class="button-solid white" target="_blank">Download Certificate</a>
    {{else}}
    <div class="red">
      Certificate Already Requested !
    </div>
    {{/if}}
    {{else if canGenerate}}

    <button class="button-solid" onClick={{perform generateCertificateTask}}>Generate Now!</button>

    {{else}}

    <button class="button-solid disabled">Generate Now!</button>
    {{/if}}
  </div>
</div>
{{else}}
<div class="c-certificate locked">
  <img src="/images/certification-i.svg" alt="">
  <div class="title">Unlock Certificate</div>
  <div class="text">Complete {{ run.completionThreshold }}% of your course to unlock and
    generate the certificate</div>
</div>
{{/if}}