<div class="border-card b-orange">
  <div class="gradient-text-orange mb-4 font-md bold">Certificate Request</div>
  <p class="mb-4">
    Complete {{ run.completionThreshold }}% of your course to generate certificate
  </p>

  <div class="divider-h w-100 mx-auto mb-4"></div>

  <div class="row no-gutters mb-4 align-items-center">
    <div class="s-30x30 bg-light-grey round mr-3">
      {{#if courseCompleted}}
        <FaIcon @icon="check" class="orange" />
      {{/if}}
    </div>
    <div class="flex-1">
      <span>Course Completion: {{ run.completionThreshold }}%+</span>
    </div>
  </div>
  <div class="row no-gutters mb-4 align-items-center">
    <div class="s-30x30 bg-light-grey round mr-3">
      {{#if runAttempt.certificateApproved}}
        <FaIcon @icon="check" class="orange" />
      {{/if}}
    </div>
    <div class="flex-1">
      <span>Mentor Approved</span>
    </div>
  </div>
  <div class="mb-4 white">
    {{#if canDownload}}
      <button class="white button-solid button-orange" {{action 'downloadCertificate'}}> Download </button>
    {{else if (or generating generationRequested)}}
      <button class="white button-solid" disabled>Generating</button>
    {{else if canGenerate}}
      <button class="white button-solid button-orange" {{action (perform generateCertificateTask)}}>Generate</button>
    {{else if approvalRequested}}
      <button class="white button-solid" disabled>Requested</button>
    {{else if canRequest}}
      <button class="white button-solid button-orange" {{action (perform requestApprovalTask)}}>Request</button>
    {{else}}
      <button class="white button-solid" disabled>
        <i class="fas fa-lock"></i>
        Generate
      </button>
    {{/if}}
  </div>
</div>
