<div class="notify-icon" {{action 'toggle'  }}>
	{{#if unreadNotifications}}
		<span class="notify-dot new"></span>
	{{/if}}
	<img src="/images/notif-icon.png" alt="">
</div>

<div class="dropdown-ul o-notification {{if active 'display-block'}}" focusOut={{action 'toggle'}}>
	{{#if notifications.length}}
		{{#each notifications as |notification|}}
		<a href="{{notification.url}}" target="_blank">
			<div class="dropdown-li row no-gutters">
				<div class="notify-type col-2 ">
					<div class="notify-icon">
						{{#if notification.isUnread}}
						<span class="notify-dot new"></span>
						{{/if}}
						<img src="images/announcement-dark.png" alt="">
					</div>
				</div>
				<div class="notify-text col-10">{{markdown-to-html notification.message}}</div>
			</div>
		</a>
		{{/each}}
	{{else}}
	<div class="dropdown-li row no-gutters">
		<div class="notify-type col-2 ">
			<div class="notify-icon">
					<span class="notify-dot new"></span>
				<img src="images/announcement-dark.png" alt="">
			</div>
		</div>
		<div class="notify-text col-10">You have no notifications! Check out our
		fabulous courses below, and gain access to hundreds of hours of high
		quality video lessons!</div>
	</div>
	{{/if}}
</div>
