<div class="notify-icon" {{action 'toggle'}}>
	{{#if unreadNotifications}}
		<span class="notify-dot new"></span>
	{{/if}}
	<img src="images/notif-icon.png" alt="">
</div>

<div class="dropdown-ul o-notification {{if active 'display-block'}}">
	{{#each notifications as |notification|}}
	<div class="dropdown-li row no-gutters">
		<div class="notify-type col-2 ">
			<div class="notify-icon">
				<span class="notify-dot new"></span>
				<img src="images/announcement.png" alt="">
			</div>
		</div>
		<div class="notify-text col-10">{{notification.message}}</div>
	</div>
    {{/each}}
	<button onclick={{action 'previousPage'}}>Previous</button>
	<button onclick={{action 'nextPage'}}>Next</button>
	<button onclick={{action 'markAsRead'}}>Mark As Read</button>
</div>
