<div class="o-announcement">
    <div class="heading-u">
		Announcements ({{run.announcements.length}})
    </div>
	{{#each run.announcements as |announcement|}}
		<div class="accordian-ul" data-show="true">
			<div class="accordian-head">
				<div class="flex-row">
					<div class="accordian-collapsar">
						<i class="fas fa-minus"></i>
					</div>
					<div class="img-desc flex-row">
						<div class="round-img">
							<img src="" alt="">
						</div>
						<div>
							<div class="heading-d">
								<div class="main-h">
									{{announcement.title}}
								</div>
								<div class="sub-h">
									{{course.instructor.name}} | {{announcement.elapsedTime}}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="flex-row">
					<div class="notify-type">
						<div class="notify-icon">
							<span class="notify-dot new"></span>
							<img src="/images/announcement.png" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="accordian-li">
				<div class="classroom-para">
					{{announcement.text}}
				</div>
			</div>
		</div>
	{{/each}}

    <div class="button-dashed">
        <button>Load More</button>
    </div>
</div>
