{{#if deleted}}
  <div class="list-item">
    <div class="row justify-content-center">
      Note Deleted!
      <span class="ml-3">
        <button class="red t-align-r" {{action 'undo'}}>Undo</button>
      </span>

    </div>
  </div>
{{else}}
  <div class="list-item">
    <div class="row">
  
      {{#if isEditing}}
      <div class="col-12">
        {{textarea class="invert font-sm" value=note.text}}
      </div>
      {{else}}
      <div class="li-left col-8 font-sm">
        {{note.text}}
      </div>
      <div class="li-right col-4 col-sm-3 col-md-4 no-gutters">
        <div class="red col-6 bold"><button class="t-align-r" {{action (perform deleteNote)}}>Delete</button></div>
        <div class="red col-6 bold"><button class="t-align-r" {{action 'toggleEdit'}}>Edit</button></div>
      </div>
      {{/if}}
    </div>
  
    <div class="row green i mb-2">
      <div class="li-left col-8 pointer" {{action 'goToContent'}}>
        {{markdown-to-html note.content.title}}
      </div>
      <div class="li-right col-4 pointer" {{action 'goToContent'}}>
        {{format-video-time note.duration}}
      </div>
    </div>
  
    {{#if isEditing}}
    <div class="row red">
      <div class="li-right col-4 col-sm-3 col-md-4 no-gutters">
        <div class="red col-6 bold"><button class="t-align-r" {{action 'toggleEdit'}}>Cancel</button></div>
        <div class="red col-6 bold"><button class="t-align-r" {{action (perform saveNoteTask)}}>Save</button></div>
      </div>
    </div>
    {{/if}}
  </div>
{{/if}}

