<div class="row no-gutters justify-content-between px-md-5 px-4 py-4">
  <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6 col-9">
    <div class="row no-gutters align-items-center">
      <div class="d-lg-none">
        <div class="hamburger-menu mr-3">
          <div class="ham-toggle">
            <div class="hamburger" {{action 'toggleHamburgerNav'}}>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <a href="/" class="col-lg-12 col-10">
        <img src="https://minio.codingblocks.com/amoeba/OnlineLogo2020_LIGHT_logofull.png" width="80%" alt="Logo">
      </a>
    </div>
  </div>
  <div class="col-lg-9 col-4">
    <div class="row mx-0 align-items-center h-100 justify-content-end d-md-flex d-none">
      <div class="d-lg-inline-flex d-none align-items-center hover-orange">
        <LinkTo @route="tracks" class="px-3">
          <h6 class="normal">Learning Tracks</h6>
        </LinkTo>
        <a href="/courses" class="px-3">
          <h6 class="normal">Explore Courses</h6>
        </a>
        <LinkTo @route="hiring-blocks" class="px-3">
          <h6 class="normal">Hiring Blocks</h6>
        </LinkTo>
      </div>
      <a class="button-solid button-orange ml-4" href="/app/login">Login</a>
    </div>
  </div>
</div>

<!-- Hamburger-nav  -->
<div class="hamburger-nav b-right overflow-y-auto no-scrollbar {{if hideHamburgerNav 'hamburger-nav--hidden' ''}}">
  <div class="d-flex py-3 justify-content-between align-items-center hamburger-nav__top-bar">
    <img src="\images\online-logo.png" alt="OCB" class="hamburger-nav__ham-logo ml-4">
    <img src="\images\wrong_g.png" alt="#" class="mr-4 hamburger-nav__cross pointer" {{action 'toggleHamburgerNav'}}>
  </div>
  <div class="divider-h"></div>
 
  
  <div class="mt-5 px-4 overflow-y-auto no-scrollbar">
    <div class="d-flex justify-content-between">
      <div class="card-md extra-bold orange">Courses</div>
      <a href="#" class="orange"><i class="fas fa-angle-up fa-lg"></i></a>
    </div>
    
    
    <div class="my-4 pl-4">
      <div class="hamburger-nav__menu-element {{if (eq mobileSelectedTab "online") "active"}}"
        {{action (mut mobileSelectedTab) "online"}}>
        <div class="card-md extra-bold">Online Courses</div>
        <div class="card-sm light"><a href="#" class="orange">Explore All</a></div>
      </div>
      {{#if (eq mobileSelectedTab "online")}}
        <div class="pl-4">
          <div class="mt-4">
            <div class="light extra-bold">Beginner Courses</div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/c-plus-plus-online-course-for-beginners">
                C++ Master Course | Launchpad
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/complete-java-course-online">
                Java Master Course | Crux
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/python-for-beginners-developers">
                Python For Developers
              </a>
            </div>
          </div>
          <div class="mt-3">
            <div class="light extra-bold">Advanced Courses</div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/python-django">
                Web Dev with Python-Django
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/coding-interview-preparation-online">
                Interview Prep Bootcamp
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/data-structures-and-algorithms-online-course-java-algo">
                Algo.Java Online
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/android-app-training-online">
                Android App Development Online
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/telegram-chatbot-python-online">
                Build Chatbots in Python
              </a>
            </div>
          </div>
          <div class="mt-3">
            <div class="light extra-bold">Expert Courses</div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/competitive-programming-course-online">
                Competitive Programming Online
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/coding-interview-preparation-course-online-c-plus-plus">
                Interview Preparation - C++
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/machine-learning-course-online">
                Machine Learning Master Course
              </a>
            </div>
            <div class="light">
              <a href="https://online.codingblocks.com/courses/coding-interview-preparation-course-online-java">
                Interview Preparation - Java
              </a>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
    <div class="card-md light mt-5 mb-4">Products</div>
    <div class="card-md light my-4">Resources</div>
    <div class="card-md light my-4">Campus Ambassadors</div>
    <div class="card-md light my-4">About Us</div>
    <div class="card-md light my-4">Contact Us</div>
  </div>
</div>
