{{#if (and hasUserMarkedRating (not isEditing))}}
  <div>
    You rated: {{ratingMarkedByUser}}
    <a href="#" {{action 'toggleEditingMode'}}>(Edit your rating)</a>
    <br>
    {{#each (range 1 (inc scale)) as |index|}}
      <span
        class="{{if (lte index course.rating) 'pos-rating' 'neg-rating'}}"
      >
        <i class="fas fa-star"></i>
      </span>
    {{/each}} Average Rating: {{course.rating}}
  </div>
{{else}}
  <div>
    Rate this course:
    <br>
    {{#each (range 1 (inc scale)) as |index|}}
      <span
        class="{{if (lte index rating) 'pos-rating' 'neg-rating'}}"
        onMouseEnter={{action 'changeRating' index}}
        onMouseLeave={{action 'resetRating'}}
        onClick={{action 'markRating' index}}
      >
        <i class="fas fa-star"></i>
      </span>
    {{/each}} Average Rating: {{course.rating}}
  </div>
{{/if}}
