{{#if hasUserMarkedRating}}
  <div>
    Your rating: {{ratingMarkedByUser}}
  </div>
{{else}}
  <div>
    Rate this course:
    
  </div>
{{/if}}

{{#each (range 1 (inc scale)) as |index|}}
  <span 
    class="{{if (lte index rating) 'pos-rating' 'neg-rating'}}" 
    onMouseEnter={{action 'changeRating' index}}
    onMouseLeave={{action 'resetRating'}}
    onClick={{action 'markRating' index}}
  >
    <i class="fas fa-star"></i>
  </span>
{{/each}}