{{#if (and hasUserMarkedRating (not isEditing))}}
  {{#each (range 1 (inc scale)) as |index|}}
    <span
      class="{{if (lte index rating) 'orange'}}"
    >
      <FaIcon @icon="star" class="mr-1" />
    </span>
  {{/each}}
  <a href="#" {{action 'toggleEditingMode'}}><i class="fas fa-edit pl-2" style="color:#fc4f4f"></i></a>
{{else}}
  {{#each (range 1 (inc scale)) as |index|}}
    <span
      class="{{if (lte index rating) 'orange'}}"
      onMouseEnter={{action 'changeRating' index}}
      onMouseLeave={{action 'resetRating'}}
      onClick={{action 'toggleModal' index}}
    >
      <FaIcon @icon="star" class="mr-1" />
    </span>
  {{/each}}
{{/if}}
{{#if isShowingModal}}
  {{#modal-dialog
    onClose=(action 'afterFeedback')
    translucentOverlay=true
    targetAttachment='none'
    containerClass='centered-scrolling-container'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'
  }}

    <!-- Modal -->
    <div class="c-modal modal-dialog">
      <div class="c-feedback-modal modal-content">
        <h3>Submit Feedback</h3>
        <div>
          {{#if (and hasUserMarkedRating (not isEditing))}}
            <div>
              <div class="title">
                How would you rate this course overall?
              </div> &nbsp;&nbsp;
              {{#each (range 1 (inc scale)) as |index|}}
                <span
                  class="{{if (lte index rating) 'pos-rating' 'neg-rating'}}"
                >
        <i class="fas fa-star"></i>
      </span>
              {{/each}}
              <a href="#" {{action 'toggleEditingMode'}}><i class="fas fa-edit" style="color:#fc4f4f"></i></a>
            </div>
          {{else}}
            <div>
              <div class="title">
                How would you rate this course overall?
              </div> &nbsp;
              {{#each (range 1 (inc scale)) as |index|}}
                <span
                  class="{{if (lte index rating) 'pos-rating' 'neg-rating'}}"
                  onMouseEnter={{action 'changeRating' index}}
                  onMouseLeave={{action 'resetRating'}}
                  onClick={{action 'markRating' index}}
                >
        <i class="fas fa-star"></i>
      </span>
              {{/each}}
            </div>
          {{/if}}
        </div>
        <div class="title">
          How was the overall experience?
        </div>
        {{textarea value=textExperience class='input-textarea'}}
        <div class="title">
          Write a public review.
        </div>
        {{textarea value=textPublic class='input-textarea' rows=5}}
        <div class="row justify-content-center">
          <div class="button-solid">
            <button {{action 'submitFeedback'}}>Submit Feedback</button>
          </div>
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}