{{#if (and hasUserMarkedRating (not isEditing))}}
  <div>
    Thanks for rating us! &nbsp;&nbsp;
    <a href="#" {{action 'toggleEditingMode'}}><i class="fas fa-edit" style="color:#fc4f4f"></i></a>
    <br><br>
    {{#each (range 1 (inc scale)) as |index|}}
      <span
        class="{{if (lte index rating) 'pos-rating' 'neg-rating'}}"
      >
        <i class="fas fa-star"></i>
      </span>
    {{/each}}
  </div>
{{else}}
  <div>
    Rate this course:
    <br><br>
    {{#each (range 1 (inc scale)) as |index|}}
      <span
        class="{{if (lte index rating) 'pos-rating' 'neg-rating'}}"
        onMouseEnter={{action 'changeRating' index}}
        onMouseLeave={{action 'resetRating'}}
        onClick={{action 'markRating' index}}
      >
        <i class="fas fa-star"></i>
      </span>
    {{/each}}
  </div>
{{/if}}
