<div class="container-fluid c-document">
  <div class="row justify-content-between mb-5">
    <span class="gradient-text-orange font-xl">
      {{document.name}}
    </span>

    <div class="button-solid button-orange">
      <a href={{document.pdfLink}} target="_blank" class="white">
        <button>
          Download as PDF
        </button>
      </a>
    </div>
  </div>
  <div class="row markdown">
    {{#if document.pdfLink}}
      <iframe src="https://docs.google.com/gview?url={{document.pdfLink}}&embedded=true"
              style="width:100%" frameborder="0">
      </iframe>
    {{else}}
      {{markdown-to-html document.markdown extensions='katex'}}
    {{/if}}
  </div>
</div>
