<div class="d-flex">
  <div class="quiz-content col-9">
    {{outlet}}
  </div>
  <div class="quiz-status col-3">

    <div class="c-review-pad">
      <div class="title">
        Result
      </div>
      <div class="options">
        {{#each quiz.questions as |question index|}}
          <div 
            class="circle
              {{if (find question.id correctQuestionIds) 'bg-green'}}
              {{if (find question.id incorrectQuestionIds) 'bg-red'}}
            "
            {{action 'setQuestion' index}}
          >
            {{inc index 1}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>