<div class="border-card mb-5">
  <h4 class="mb-3">Filter by Job Type</h4>

  <div class="font-mds">
    <label class="mb-2" for="">
      <input type="checkbox" checked={{showAll}}  onClick={{action "toggleShowAll"}}> All</label>
    <br>
    {{#each possibleValues as |jobType|}}
      <label class="mb-2" for="">
        <input type="checkbox" checked={{includes values jobType}} onClick={{action "toggleJobType" jobType}}> {{jobType}}
      </label>
      <br>
    {{/each}}
  </div>
</div>