
<div class="row">
<div class="col-md-12">
    <promotion-banner class="">
    </promotion-banner>
</div>
  <div class="col-md-9 col-12">
    {{#if lastAccessedRun}}
      <h4 class="my-4">Continue Learning</h4>

      {{!-- Recent run and stats card --}}
      <div class="border-card mb-5">
        <div class="row no-gutters align-items-center">
          <div class="col-md-6 col-12">
            <div class="row no-gutters align-items-center justify-content-between">
              <div class="col-2">
                <img src="{{lastAccessedRun.course.logo}}" alt="C++">
              </div>
              <div class="col-9">
                <h5 class="bold">{{lastAccessedRun.course.title}}</h5>
                <div class="font-normal mt-2">Mentor: 
                  {{#each lastAccessedRun.course.instructors as |instructor index|}}
                    {{#if index}}, {{/if}} {{instructor.name}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 mt-md-0 mt-4">
            <div class="font-normal">Course Progress</div>
            <div class="mt-md-4 mt-2">
              <progress value="{{progressPercent}}" max="100" class="d-inline-block w-80 progress-orange"></progress>
              <span class="bold ml-3">{{progressPercent}}%</span>
            </div>
          </div>
        </div>

        <div class="divider-h w-100 mx-auto my-4"></div>

        <WAsync 
          @task={{fetchPerformanceStatsTask}}
          @loaderComponent={{component 'performance-stats-view/loading-placeholder'}}
          @autoFire="true" as |stats|>
        <PerformanceStatsView 
            @stats={{stats}} />
        </WAsync>

        <div class="divider-h w-100 mx-auto my-4"></div>

        <div class="row no-gutters align-items-center justify-content-between">
          <div class="col-sm-8 col-12">
            <span class="normal mr-4">
              Leave a rating
            </span>
            <span>
              <RatingStars 
                @course={{lastAccessedRun.course}}
                @showModal={{true}}
                @isShowingModal={{showFeedback}}
                @initialRating={{lastAccessedRun.topRunAttempt.rating}} />
            </span>
          </div>
          <div class="mt-sm-0 mt-4">
            <LinkTo 
              @route="attempt"
              @model={{lastAccessedRun.topRunAttempt.id}}
              class="button-solid button-orange">
              Resume Now
            </LinkTo>
          </div>
        </div>
      </div>
    {{/if}}

    {{!-- My courses card --}}
    <div class="mb-5">
      <div class="border-card">
        {{#if noRuns}}
          <div class="t-align-c">
            <img src="/app/images/camera-orange.svg" alt="Courses">
            <h4 class="bold mt-4">My Courses</h4>
            <div class="grey mb-4">You are not enrolled in any course! Find courses to get enrolled!</div>
            <a href="/courses" class="font-sm bold gradient-text-orange">Explore Courses</a>
          </div>
        {{else}}
          <div class="d-flex align-items-center justify-content-between">
            <h4 class="bold">My Courses</h4>
            <LinkTo @route="classroom" class="orange font-sm font-normal">View All</LinkTo>
          </div>
          <div class="divider-h my-4"></div>
            <Dashboard::DashboardCoursesList @runs={{runs}} />
        {{/if}}
      </div>
    </div>

    <div class="mb-5">
      <div class="row">
        <div class="col-md-6">
          <div class="border-card h-100">
            {{#if noWishlist}}
              <img src="/app/images/heart-orange.svg" alt="Bag">
              <h4 class="bold mt-4">Wishlisted Courses</h4>
              <div class="grey mb-4">You have not wishlisted any course! Start Wishlisting now!</div>
              <a href="/courses" target="_blank" class="font-sm bold gradient-text-orange">Explore Courses</a>
            {{else}}
              <h4 class="bold">Wishlisted Courses</h4>
              <div class="divider-h mt-4"></div>
             
                <Dashboard::DashboardWishList @wishlist={{wishlist}} />
              {{#if (gt wishlist.length 2)}}
                <div class="t-align-c">
                  <button class="button-solid button-orange mt-4">View All</button>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>

        <div class="col-md-6 mt-md-0 mt-5">
          <div class="border-card h-100">
            {{#if noAppliedJobs}} 
              <img src="/app/images/bag-orange.svg" alt="Heart">
              <h4 class="bold mt-4">Applied Jobs</h4>
              <div class="grey mb-4">You have not applied to any jobs! Find jobs now!</div>
              <LinkTo @route="hiring-blocks" class="font-sm bold gradient-text-orange">See Jobs</LinkTo>
            {{else}}
              <h4 class="bold">Applied Jobs</h4>
              <div class="divider-h mt-4"></div>
                <Dashboard::DashboardAppliedJobs @jobs={{appliedJobs}} />
              {{#if (gt wishlist.length 2)}}
                <div class="t-align-c">
                  <button class="button-solid button-orange my-5">View All</button>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-12">
    <h4 class="my-4">Learning Tracks</h4>
    <div class="border-card bg-gradient-purple white mb-5">
      <div class="mb-3 semi-bold yellow font-sm">
        <img src="https://minio.codingblocks.com/amoeba/fire-orange.svg" alt=""> Trending
      </div>
      <div class="font-lg">Become a Certified</div>
      <h3 class="bold mb-4">Data Scientist</h3>
      <div class="font-normal mb-4">
        Average Salary of a Data Scientist is 15LPA
      </div>
      <LinkTo @route="tracks" class="button-white button-solid purple">
        View Tracks
      </LinkTo>
    </div>

    <HackerblocksStats />
    <CarouselCards />
  </div>  
</div>


<script src="https://unpkg.com/@coding-blocks/web-components@0.0.5/dist/index.js" async></script>
