<WAsync
  @task={{getCarouselCardsTask}}
  @autoFire="true" as |cards|>
  {{#each cards as |card|}}
    <div class="border-card p-5 {{card.theme}} white mt-5">
      <div class="mb-4 s-50x50">
        <img src="{{card.img}}" alt="Carousel Card">
      </div>
      <h3 class="bold mb-4">{{card.title}}</h3>
      <div class="font-normal mb-4">
        {{card.subtitle}}
      </div>
      <a href="{{card.buttonLink}}" target="_blank" class="button-white button-solid purple">
        {{card.buttonText}}
      </a>
    </div>
  {{/each}}
</WAsync>
