<div class="card-stack">
  {{#each cards as |card|}}
    <div class="border-card c-layout-card ">
        <div class="card-image">
            <img src="{{card.img}}">
        </div>
        <h1 class="word-wrap card-heading c-text-card">
            {{card.title}}
        </h1>
        <h2 class="word-wrap card-text grey i $card-md">
            {{card.subtitle}}
        </h2>
        <a href="{{card.buttonLink}}" target="_blank" {{action 'log' card.title preventDefault=false}}>
            <button class="button-solid">{{card.buttonText}}</button>
        </a>
    </div>
  {{/each}}

</div>

<div class="card-stack-btn t-align-c">
    <a class="prev" {{action 'prev'}}>&lt;&nbsp;&nbsp;Prev</a>
    &nbsp;&nbsp;
    <a class="next" {{action 'next'}}>Next &nbsp;&nbsp;&gt;</a>
</div>
