<div class="row rating-carousel">
      {{#each ratingsArray as |rating|}}
        
          <div class="col-8 col-md-4 col-lg-3">
            <div class="border-card round c-rating-card">
              <div class="row justify-content-between no-gutters">
                <div class="bold font-sm">{{rating.user.firstname}} {{rating.user.lastname}}</div>
                <div class="grey card-md">{{moment-from rating.updatedAt}}</div>
              </div>

              <div class="heading text-ellipses">
                {{rating.heading}}
              </div>

              {{rating-stars-static rating=rating.value}}

              <div class="review grey">
                {{rating.review}}
              </div>
            </div>
          </div>

      {{/each}}
    </div>
    {{#if meta.nextOffset}}
      <button class="button-dashed row justify-content-center align-items-center" {{action "fetchRatings"}}>Load More Reviews</button>
    {{/if}}