<div class="row rating-carousel">
      {{#each ratingsArray as |rating|}}
        
          <div class="col-8 col-md-4 col-lg-3">
            <div class="card round c-rating-card">
              <div class="row justify-content-between">
                <div>{{rating.user.firstname}} {{rating.user.lastname}}</div>
                <div class="grey font-sm i">{{moment-from rating.updatedAt}}</div>
              </div>

              <div class="heading">
                {{rating.heading}}
              </div>

              {{rating-stars-static rating=rating.value}}

              <div class="review grey i">
                {{rating.review}}
              </div>
            </div>
          </div>

      {{/each}}
    </div>
    {{#if meta.nextOffset}}
    <div class="row justify-content-center align-items-center">
      <div class="button-dashed" {{action "fetchRatings"}}>
        <button>Load More Reviews</button>
      </div>
    </div>
    {{/if}}