{{#if @payload}}
  {{#each @payload as |announcement|}}
    <div class="py-2">
      <div class="d-flex">
        <img src="{{announcement.user.photo}}" alt="{{announcement.user.firstname}}" class="round s-40x40">

        <div class="ml-4">
          <h6>{{announcement.user.firstname}} {{announcement.user.lastname}}</h6>
          <div class="grey">
            {{moment-from-now announcement.createdAt}}
          </div>
        </div>
      </div>
        
      <div>
        <div class="bold mt-4">{{announcement.title}}</div>
        <div class="mt-3">
          {{line-clamp
            text=announcement.text
            lines=3
          }}
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="t-align-c">
    <img src="https://minio.codingblocks.com/amoeba/announcements-orange.svg" />
    <h3 class="gradient-text-orange mt-3">No Announcements</h3>
    <p class="grey">
      There’s no announcements in this course. Check back later
    </p>
    <LinkTo
      class="button-solid button-orange d-inline-block"
      @route="attempt"
      @model={{@runAttempt.id}}>
      Go To Classroom
    </LinkTo>
  </div>
{{/if}}
