<div class="pl-sm-5 pl-4 pr-xl-4 pt-5 position-relative">
  <div class="track-indicator {{if course.latestRun complete}}">&#8226;</div>
  <div class="normal">Course {{inc index}}</div>
  <div class="row align-items-center mt-xl-5 mt-4">
    <div class="col-xl-6 col-12 mb-xl-0 mb-4">
      <div class="row no-gutters align-items-center">
        <div>
          <img src="{{course.logo}}" alt="Course Logo" class="s-60x60 br-50">
        </div>
        <div class="flex-1 pl-3">
          <h5 class="bold">{{course.title}}</h5>
          <div class="font-normal mt-2">Mentor: {{#each course.instructors as |instructor i|}} {{if i ","}}
            {{instructor.name}} {{/each}}</div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      {{#if course.latestRun}}
      <div class="font-normal">Course Progress</div>
      <div class="mt-3">
        <progress value="{{course.latestRun.topRunAttempt.progressPercent}}" max="100"
          class="d-inline-block w-70 progress-green"></progress>
        <span class="bold ml-3">
          {{course.latestRun.topRunAttempt.progressPercent}} %
        </span>
      </div>
      {{else}}
      <div class="mb-2">
        <RatingStarsStatic @rating={{course.rating}} />
      </div>
      <div class="normal"><strong>{{course.rating}}/5.0</strong>, {{course.reviewCount}} Ratings</div>
      {{/if}}
    </div>
    <div class="col-xl-3 col-sm-6 mt-sm-0 mt-2">
      <div class="row no-gutters justify-content-end align-items-center">
        {{#if course.latestRun}}
        <LinkTo class="button-solid button-orange" @route="attempt" @model={{course.latestRun.topRunAttempt.id}}>
          Resume
        </LinkTo>
        {{else}}
        {{#if session.isAuthenticated}}
        <button {{action (perform createOrDestroyCourseWishlist)}}>
          <img
            src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/heart_{{if course.userCourseWishlist 'filled' 'unfilled'}}.svg"
            class="mr-3">
        </button>
        {{/if}}
        <a href="/courses/{{course.slug}}" target="_blank" class="button-orange button-solid">Explore</a>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if course.tags.length}}
  <div class="mt-4">
    <span class="normal grey mr-4">What will you learn</span>
    {{#each course.tags as |tag|}}
    <div class="pill normal mr-2 mb-2">{{tag.name}}</div>
    {{/each}}
  </div>
  {{/if}}
  {{#if course.projects.length}}
  <div class="mt-3">
    <span class="normal grey mr-4">Projects you will build</span>
    {{#each course.projects as |project|}}
    <div class="pill pill-dashed normal mr-2 mb-2">{{project.title}}</div>
    {{/each}}
  </div>
  {{/if}}
</div>
<div class="divider-h content-divider mt-5 pl-sm-5 pl-4"></div>