<div class="grid-background">
  <div class="custom-heading row justify-content-between">
    <div class="heading-u">
      Recommended Courses
    </div>

    <div class="button-dashed align-self-center">
      {{#link-to 'courses' tagName='button' activeClass=""}}All Courses{{/link-to}}
    </div>
  </div>
  <div class="grid row">
    {{#if fetchRecommendedCoursesTask.isRunning}}
     {{!-- here we can show blank cards to indicate loading --}}
     {{loader-component}}
    {{else}}
    {{#each recommendedCourses as |course|}}
    <div class="card-layout col-md-4 col-sm-6">
      <div class="card o-layout-card ">
        <div class="difficulty-div">
            <div class="{{course.difficultyName}}-level"></div>
            <div class="{{course.difficultyName}}-text">
              {{uppercase course.difficultyName}}
            </div>
        </div>
        
        <div class="card-image o-image-card">
          <img src="{{defaultTo course.logo '/images/c++'}}">
        </div>

        <div class="card-heading o-text-card">
          {{course.title}}
        </div>
        <div class="card-text">
          {{course.subtitle}}
        </div>
        <div class="card-mentor">
           <div class="card-mentor-image">
              {{#each course.instructors as |instructor index|}}
                {{#if (lt index 2) }}
                  <img class="card-mentors" src="{{instructor.photo}}">
                {{/if}}
              {{/each}}
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">
                {{#each course.instructors as |instructor index|}}
                  {{#if (lt index 2)}}
                    {{instructor.name}}{{if (and (gt course.instructors.length 1) (eq index 0)) "," ""}}
                  {{/if}}
                {{/each}}

                {{#if (gt course.instructors.length 2)}}
                  <span class="price"> +{{sub course.instructors.length 2}}</span> more
                {{/if}}
              </div>
            </div>
        </div>
        <div class="card-mentor-divider"></div>
        <div class="price-detail row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card-price-details">
              <div class="card-batch-details">
                Starting from <br>
                <span class="price">{{moment-format (unix course.topRun .start) 'MMM Do YYYY'}}
                </span>
              </div>
            </div>
          </div>
          <div class="button-parent col-md-6 col-sm-12 col-xs-12">

            <div class="button-solid">
              {{#link-to 'courses.id' course.id tagName="button" activeClass=""}} {{format-price course .topRun.price}} {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}} {{/if}}
  </div>
</div>