{{#if feedback.hasDirtyAttributes}}
  {{textarea value=feedback.text placeholder="Enter Feedback"}}

  {{#unless saveFeedbackTask.isRunning}}
    <button class="button-solid" {{action saveFeedback}}>Save</button>
  {{else}}
    <button class="button-solid" disabled>Saving...</button>
  {{/unless}}
{{else}}
  <h3>Your feedback:</h3>
  <p>
    {{feedback.text}}
  </p>
    <button class="button-solid" {{action changeToEditMode}}> Edit </button>
{{/if}}