<div class="input-search nav-search d-flex justify-content-end w-100 bg-dark-search-bar white">
  {{input type="text" placeholder="Search contents here" value=qs key-press=(perform searchTask) focusIn=(action 'showResult') focusOut=(action 'hideResult') }}
  <img src="/images/searchicon-w.png" alt="search">

  {{#unless hideResultsBox}}
  <div class="search-box bg-dark-search-box white mt-2">
    {{#if searchTask.isRunning}}
        {{loader-component}}
    {{else}}
      {{#each results as |result|}}
      <div class="row search-content pointer align-items-center" {{action 'transitionToContent' result.contentId result.sectionId}}>
        <div class="img-container col-md-3">
          <div class="content-icon {{result.iconClass}}-{{if result.isDone 'green-dark' 'red-dark'}}"></div>
          {{!-- <img src="{{course.logo}}" alt="online-logo" class="nav-logo pointer"> --}}
        </div>
        <div class="heading-container col-lg-9 col-12">
          <div>{{result.title}}</div>
          <div class="red font-sm">{{result.section}}</div>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
  {{/unless}}
</div>