<div>
  <img 
    class="p-3 pointer" 
    src="https://minio.codingblocks.com/public/cross.png"
    width="70px"
    style="position: absolute; right: 0; z-index: 2"
    {{action onClose}}
  >
</div>
<div class="d-flex justify-content-center py-4">
  <lottie-player 
    src="https://minio.codingblocks.com/amoeba/lottie-gift-open.json"
    style="max-width: 500px;"
    mode="bounce" 
    background="transparent" 
    speed="1" 
    autoplay>
  </lottie-player>
</div>
<div class="row no-gutters spin-bg-purple py-5 white">
  <div class="col-lg-6 py-4 border-right">
    <div class="px-5" style="border-left: 8px solid white">
      <div style="font-size: 3.72rem; font-family: Bebas Neue">CONGRATULATIONS</div>
      <div class="spin-yellow mt-4">
        <div class="mb-2 font-md">You Won</div>
        <div class="mb-2 bold font-xxl">
          {{prize.title}}
        </div>
        <div class="bold font-md">
          {{prize.description}}
        </div>
      </div>
    </div>
  </div>

  <div class="divider-h m-4 d-block d-lg-none"></div>

  <div class="col-lg-6 my-auto">
    <div class="px-5" >
      <div>
        <span class="white font-md pointer" {{action 'share' 'facebook'}}>
          <i class="fab fa-2x fa-facebook-f"></i>
        </span>
        <span class="white ml-5 font-md pointer" {{action 'share' 'twitter'}}>
          <i class="fab fa-2x fa-twitter"></i>
        </span>
        <span class="white ml-5 font-md pointer" {{action 'share' 'whatsapp'}}>
          <i class="fab fa-2x fa-whatsapp"></i>
        </span>
      </div>
      <div class="font-md mb-2 bold mt-4">Share with friends</div>
      <div class="font-sm">
        Use hashtag <a class="spin-yellow" target="_blank" href="​​https://www.instagram.com/codingblocks">#TurnYourLuck</a> and show off your winnings on social media.
      </div>
    </div>
  </div>
</div>