<header>
  <nav>
    <span class="hamburger-parent" onclick={{action 'toggleSidebar'}}>
            <i class="hamburger fas fa-bars"></i>
          </span>
    <span class="logo-parent">
      {{#link-to 'index' activeClass='logo-link'}}
      <img src="/images/online-logo.png" alt="online-logo" class="nav-logo pointer"> {{/link-to}}
    </span>

    <ul class="nav-list">
      <li class="nav-items pointer">
        {{#link-to 'index'}}Home{{/link-to}}
      </li>
      <li class="nav-items pointer">
        {{#link-to 'courses'}}All Courses{{/link-to}}
      </li>
      {{#if session.isAuthenticated}}
      <li class="nav-items pointer">
        {{#link-to 'classroom'}}My Courses{{/link-to}}
      </li>
      {{/if}}
      <li class="nav-items pointer">
        <div class="button-solid">
          {{login-button}}
        </div>
      </li>
    </ul>

   {{search-box}}
  </nav>
  <div class="sidebar {{if showSidebar 'display-block' 'display-none'}}">
    <i class="close fas fa-times" onclick={{action 'toggleSidebar'}}></i>
    <div class="upper-half">
      <div class="round-img">
        <img src="{{user.photo}}">
      </div>
      <div class="button-solid" onclick={{action 'toggleSidebar'}}>
        {{login-button}}
      </div>
    </div>
    <div class="lower-half">
      <div class="para" onclick={{action 'toggleSidebar'}}>
        {{#link-to 'index'}}Home{{/link-to}}
      </div>
      {{#if session.isAuthenticated}}
        <div class="para" onclick={{action 'toggleSidebar'}}>
          {{#link-to 'classroom'}}My Courses{{/link-to}}
        </div>
      {{/if}}
      <div class="para" onclick={{action 'toggleSidebar'}}>
        {{#link-to 'courses'}}All Courses{{/link-to}}
      </div>
    </div>
  </div>
</header>