<header>
  <nav class="main-nav">
    <div class="nav-left">
      <span class="hamburger-parent" onclick={{action 'toggleSidebar'}}>
        <i class="hamburger fas fa-bars"></i>
      </span>

      <span class="logo-parent">
        {{#link-to 'index' activeClass=''}}
        <img src="/images/online-logo.png" alt="online-logo" class="nav-logo pointer"> {{/link-to}}
      </span>
    </div>
    <div class="dsp-none-sm">
      <div class="nav-right">
        {{search-box}}

        <ul class="nav-list">
          <li class="nav-items pointer">
            {{#link-to 'index'}}Home{{/link-to}}
          </li>
          <li class="nav-items pointer">
            {{#link-to 'courses'}}All Courses{{/link-to}}
          </li>
          {{#if session.isAuthenticated}}
          <li class="nav-items pointer">
            {{#link-to 'classroom'}}My Courses{{/link-to}}
          </li>
          {{else}}
          <li class="nav-items pointer">
            <a href="https://codingblocks.com/centres/" target="_blank">Contact Us</a>
          </li>
          {{/if}} {{#if session.isAuthenticated}}
          <li class="nav-items pointer">
            {{notification-dropdown}}
          </li>

          <div class="round-img">
            <img src="{{currentUser.user.photo}}" alt="">
          </div>

          <div class="card">
            <div class="top-offset"></div>
            <div class="nav-info">
              <div class="flex-row justify-content-end grey">
                <a href="https://account.codingblocks.com/users/me" target="_black">
                  <span class="pointer">MY PROFILE</span>
                </a>

              </div>
              <div class="separator"></div>
              <div class="flex-row justify-content-end grey">
                <span class="pointer">{{login-button}}</span>
              </div>
            </div>
          </div>
          {{else}}
          <li class="nav-items pointer">
            <div class="button-solid">
              {{login-button}}
            </div>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>


  </nav>

  <div class="sidebar {{if showSidebar '' 'sidebar-none'}}">
    <i class="close fas fa-times" onclick={{action 'toggleSidebar'}}></i>
    <div class="upper-half">
      <div class="round-img">
        <img src="{{currentUser.user.photo}}">
      </div>
      <div class="button-solid" onclick={{action 'toggleSidebar'}}>
        {{login-button}}
      </div>
    </div>
    <div class="lower-half">
      <div class="para" onclick={{action 'toggleSidebar'}}>
        {{#link-to 'index'}}Home{{/link-to}}
      </div>
      {{#if session.isAuthenticated}}
      <div class="para" onclick={{action 'toggleSidebar'}}>
        {{#link-to 'classroom'}}My Courses{{/link-to}}
      </div>
      {{/if}}
      <div class="para" onclick={{action 'toggleSidebar'}}>
        {{#link-to 'courses'}}All Courses{{/link-to}}
      </div>
    </div>
  </div>
</header>