<section class="container c-job-description">
  <div class="row no-gutters mt-5">
    <div class="col-12 col-md-8">
      <div class="border-card p-5 mb-5">
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <div class="img-desc b-right">
              <div class="col-3 pl-0">
                <img src={{company.logo}} alt="">
              </div>
              <div class="description col-9">
                <div>
                  <div class="heading">
                    {{job.title}}
                  </div>
                  <div class="font-mds">
                    {{company.name}}
                  </div>
                </div>
                <div class="grey">
                  Posted {{moment-from-now job.postedOn}}
                </div>
              </div>
            </div>
          </div>

          <div class="divider-h d-md-none mt-4 mb-4"></div>

          <div class="col-12 col-md-6">
            <div class="row font-sm pl-3">
              <div class="col-6">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">{{job.location}}</span>
                </div>
                <div class="mb-3">
                  Job Type: <span class="extra-bold">{{job.type}}</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">{{job.experience}}</span>
                </div>
                <div>
                  Stipend: <span class="extra-bold">{{job.ctc}}</span>
                </div>
              </div>
            </div>
            {{!-- <div class="red pl-3">
              Deadline: 24 March 2019
            </div> --}}
          </div>
        </div>
      </div>
      
      <button class="bg-gradient-violet-lr w-100 white d-md-none p-4 mb-4" {{action "toggleShowDescription"}}>{{if showDescription 'Hide' 'View'}} Job Description</button> 
      
      <div class="border-card p-5 {{unless showDescription 'dsp-none-sm'}}">
        <div class="font-md extra-bold mb-4">
          Job Description
        </div>
        <div class="w-50 divider-h mb-4"></div>

        <div class="font-sm">
          {{markdown-to-html job.description class="d-inline" extensions="katex"}}
        </div>

        <div class="font-md extra-bold mt-5 mb-4">
          About the Company
        </div>
        <div class="w-50 divider-h"></div>

        <div class="font-sm">
          {{markdown-to-html company.description class="d-inline" extensions="katex"}}
        </div>


      </div>
    </div>
    <div class="col-12 col-lg-4 pl-lg-5">
      <div class="position-relative br-10 overflow-hidden">
        <div class="back-div br-10"></div>

        <div class="bg-gradient-black-bt p-5">
          <div class="d-flex justify-content-between white mb-2 font-sm">
            <span>Eligibility:</span> <span class="extra-bold">{{job.eligibility}}</span>
          </div>
          <div class="d-flex justify-content-between mb-2 {{if job.eligible "green" "red"}}">
            Status: 
            <span class="extra-bold"> 
              {{if job.eligible "Eligible" "Not Eligible"}}
            </span>
          </div>
          {{#if alreadyApplied}}
            <div class="mt-4 green t-align-c">You've already applied for this Job.</div>
          {{else}}
            <button 
              class="button-solid card-md mt-4 mx-auto display-block" 
              disabled={{unless job.eligible "disabled"}}
              {{action 'toggleShowModal'}}
            >
              Add Resume and Apply
            </button>
          {{/if}}
        </div>

        <div class="p-5">
          <h6 class="mb-2">
            Recommended Courses
          </h6>
          <div>
            Based on the industry trends, you should
            complete these courses
          </div>
        </div>

        <div class="p-0 pr-md-5 pl-md-5">
          {{#each job.courses as |course|}}
            <div class="mb-4">
              <CourseCard @course={{course}} />
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</section>

<section class="">
  <SuccessStories @videoLink="https://www.youtube.com/embed/h_YmJLN9IgY"/>
</section>

<PartnersSection />
{{#if showModal}}
  <ModalDialog @onClose={{action "toggleShowModal"}} @translucentOverlay={{true}} @overlayClass="cart-modal-overlay" @containerClass="col-md-6 col-12">
    <JobApplicationForm @form={{job.form}} @submit={{action (perform applyForJob)}} />
  </ModalDialog>
{{/if}}

