<div class="d-flex justify-content-between">  
  <div>
    <span class="font-mds">I am a</span>
    <button 
      class="button-orange ml-3
      {{if (eq status "student") "button-solid" "button-dashed"}}"
      {{action (mut status) "student"}}>
      Student
    </button>
    <button 
      class="button-orange 
      {{if (eq status "professional") "button-solid" "button-dashed"}}"
      {{action (mut status) "professional"}}>
      Professional
    </button>
    <span class="font-mds ml-5">I want to become a</span>
    <WAsync @task={{fetchProfessionsTask}} @autoFire="true" class="d-inline" as |professions|>
      <select class="ml-3 input-search bg-light-grey" onchange={{action (mut professionId) value="target.value"}}>
        <option> -- </option>
        {{#each professions as |profession|}}
          <option value="{{profession.id}}" selected={{eq professionId profession.id}}>{{profession.title}}</option>
        {{/each}}
      </select>
    </WAsync>
  </div>
  <div>
    <button class="button-dashed button-orange"  {{action onSearch}}>Continue &gt;</button>
  </div>
</div>

<div class="row no-gutters justify-content-between align-items-center">
  <div class="col-10">
    <div class="row no-gutters align-items-center">
      <div class="col-md-5 col-12">
        <span class="font-mds normal mr-3">I am a </span>
        <button 
          class="button-orange
          {{if (eq status "student") "button-solid" "button-dashed"}}"
          {{action (mut status) "student"}}>
          Student
        </button>
        <button 
          class="button-orange 
          {{if (eq status "professional") "button-solid" "button-dashed"}}"
          {{action (mut status) "professional"}}>
          Professional
        </button>
      </div>
      <div class="col-md-7 col-12 mt-md-0 mt-4">
        <span class="font-mds normal mr-3">I want to become a</span>
        <WAsync @task={{fetchProfessionsTask}} @autoFire="true" class="d-inline-block" as |professions|>
          <div class="select-container">
            <select class="rounded-select" onchange={{action (mut professionId) value="target.value"}}>
              <option> -- </option>
              {{#each professions as |profession|}}
                <option value="{{profession.id}}" selected={{eq professionId profession.id}}>{{profession.title}}</option>
              {{/each}}
            </select>
          </div>
        </WAsync>        
      </div>
    </div>
    <button class="button-dashed button-orange v-align-ma"  {{action onSearch}}>
      Continue
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/arrow_right_orange.svg" class="ml-1">
    </button>
  </div>
</div>
