<div class="row no-gutters justify-content-between align-items-center my-4 px-4">
  <div class="col-xl-9 col-md-10 col-12">
    <div class="row no-gutters align-items-center">
      <div class="col-xl-4 col-md-6 col-12">
        <span class="font-mds normal mr-3">I am a </span>
        <button 
          class="button-orange mr-2
          {{if (eq status "student") "button-solid" "button-dashed"}}"
          {{action (mut status) "student"}}>
          Student
        </button>
        <button 
          class="button-orange 
          {{if (eq status "professional") "button-solid" "button-dashed"}}"
          {{action (mut status) "professional"}}>
          Professional
        </button>
      </div>
      <div class="col-xl-8 col-md-6 col-12 mt-md-0 mt-4 d-flex align-items-center">
        <span class="font-mds normal mr-3">I want to become a</span>
        <WAsync @task={{fetchProfessionsTask}} @autoFire="true" class="d-inline-block flex-1" as |professions|>
          <div class="select-container">
            <select class="rounded-select" onchange={{action (mut professionId) value="target.value"}}>
              <option> -- </option>
              {{#each professions as |profession|}}
                <option value="{{profession.id}}" selected={{eq professionId profession.id}}>{{profession.title}}</option>
              {{/each}}
            </select>
          </div>
        </WAsync>        
      </div>
    </div>
  </div>
  <button class="button-dashed button-orange v-align-ma mt-md-0 mt-4"  {{action onSearch}}>
    Continue
    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/arrow_right_orange.svg" class="ml-1">
  </button>
</div>
