<div class="timeline__main-area__content-bar__section" id={{if (eq activeSectionId section.id) 'active-section-container'}} >
  <div class="pointer white" {{action "toggle"}}>
    <div class="row no-gutters justify-content-between align-items-center py-4">
      <div class="col-10">
        <h6 class="d-inline-block bold font-mds {{if (eq activeSectionId section.id) 'gradient-text-orange'}}">
          {{section.name}}

          </h6>
          {{#if premiumStudent }}
            <div class="pill bg-gradient-orange white card-md normal ml-1">
              Free
            </div>
          {{/if}}
        <div class="normal mt-1 med-grey font-xs">
          {{!-- {{#if (and section.deadlineDate (is-before now section.deadlineDate)) }}
            {{section.doneContents.length}}/{{section.contents.length}} | Due Date: {{moment-format section.deadlineDate 'MMM Do YYYY'}}
          {{else}} --}}
            {{section.doneContents.length}} of {{section.contents.length}} contents completed
          {{!-- {{/if}} --}}
        </div>
      </div>
      <FaIcon @icon={{if isOpen "chevron-up" "chevron-down"}} />
    </div>
  </div>
  {{#if isOpen}}
    {{#each section.contents as |content|}}
      <div class="row no-gutters justify-content-between align-items-center py-2 flex-nowrap">
        <LinkTo 
          class="white content-row {{content.iconClass}} {{if (eq activeContentId content.id) "gradient-text-orange"}}"
          @route="attempt.content"
          @models={{array section.id content.id}}>
          <span class="normal w-100">{{markdown-to-html content.title}}</span>
        </LinkTo>
        {{#if content.isDone}}
          <FaIcon @icon="check" class="gradient-text-green" />
        {{else if (eq activeContentId content.id)}}
          <FaIcon @icon="circle" class="gradient-text-orange" />
        {{/if}}
      </div>
    {{/each}}
  {{/if}}
</div> 