{{#if isDeleted}}
  <div class="all-center p-3">
    <span class="bold font-sm">
      Note has been deleted <button class="gradient-text-orange" {{action "undo"}}>Undo</button>
    </span>
  </div>
{{else if isEditing}}
  <h4 class="bold">Edit Note</h4>
  <Textarea @value={{note.text}} class=""></Textarea>
  <div>
    <span class="gradient-text-orange">
      Section 1.4 - Catalan Numbers
      <span class="ml-5">14:08</span>
    </span>
    <span class="float-right">
      <button class="mr-5 font-sm" {{action (mut isEditing) false}}>
        Cancel
      </button>
      <button class="gradient-text-green font-sm" {{action (perform saveNotesTask)}} disabled={{saveNotesTask.isRunning}}>
        {{if saveNotesTask.isRunning "Saving" "Save"}}
      </button>
    </span>
  </div>
{{else}}
  <p>
    {{note.text}}
  </p>
  <div>
    <span class="gradient-text-orange">
      Section 1.4 - Catalan Numbers
      <span class="ml-5">14:08</span>
    </span>
    <span class="float-right">
      <button class="mr-5 font-sm" {{action (perform deleteNoteTask)}}>
        Delete
      </button>
      <button class="gradient-text-green font-sm" {{action (mut isEditing) true}}>
        Edit
      </button>
    </span>
  </div>
{{/if}}
