<ul
  id="ember-power-select-multiple-options-{{@select.uniqueId}}"
  class="ember-power-select-multiple-options"
  {{did-update this.openChanged @select.isOpen}}
  {{on "touchstart" this.chooseOption}}
  {{on "mousedown" this.chooseOption}}
  ...attributes>
  <span class="ember-power-select-placeholder">{{@placeholder}}</span>
</ul>
<span class="ember-power-select-status-icon"></span>
