<div class="border-bottom-list">
  {{#each jobs as |job|}}
    <JobListingPanels::JobRow @job={{job}} class="my-2"/>
  {{/each}}
</div>

<WPagination
  class="mt-5"
  @pages={{pagination.totalPages}}
  @count={{pagination.count}}
  @size={{limit}}
  @current={{pagination.currentPage}}
  @onchange={{action 'paginate'}} />
