<div class="row no-gutters align-items-center mb-4">
  <div class="col-md-4 col-6">
    <div class="row no-gutters align-items-center">
      <div class="col-3">
        <img class="mr-5" src={{job.company.logo}} alt={{job.company.name}}>
      </div>
      <div class="col-9">
        <h5 class="bold">{{job.role}}</h5>
        <div class="font-normal mt-2">
          {{job.company.name}} 
          <span class="grey">Posted {{moment-from-now job.postedOn}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-6 row">
    <div class="col-6">
      <div>
        Experience: {{job.experience}}
      </div>
      <div>
        CTC: {{job.ctc}}
      </div>
    </div>
    <div class="col-6">
      <div>
        Type: {{job.type}}
      </div>
      <div>
        Location: {{job.location}}
      </div>
    </div>
  </div>
  <div class="col-md-2 col-12 mt-md-0 mt-3">
    <div class="row no-gutters justify-content-around align-items-center">
      <button class="button-dashed button-orange">View Details</button>
    </div>
  </div>
</div>
<div class="divider-h w-100 mx-auto mb-4"></div>
