<div onclick={{action toggleAction}} id="cart-icon">
  {{#if cartItem}}
    <span class="notify-dot new"></span>
  {{/if}}
	<i class="fas fa-shopping-cart"></i>
</div>

<div class="dropdown-ul border-card c-notification {{if showDialog 'display-block'}}" id="cart-box">
  {{#if cartItem}}
    <div class="row align-items-center mb-4">
      <div class="img-desc">
        <div class="col-3">
          <img class="round" src="{{ cartItem.image_url }}" alt="">
        </div>
        <div class="description">
          <h6>{{ cartItem.productName }}</h6>
          <div class="d-flex align-items-end">
            <h4>Rs {{ cartItem.final_price }}</h4> 
            <strike class="grey ml-2 card-md">Rs {{ cartItem.list_price }}</strike>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <div class="card-md">
          <button onclick={{action (perform clearCartTask)}}>X Remove Product</button>
      </div>
  
      <a href="{{ dukaanUrl }}">
        <button class="button-solid">Checkout</button>
      </a>
    </div>
  {{else}}
    <a href="#" target="_blank">
      <div class="dropdown-li row align-items-center">
        <div class="col-12">
          Your Cart is empty
        </div>
      </div>
    </a>
  {{/if}}
</div>
