
<div class="row no-gutters align-items-center mt-4">
    <div class="col-md-4 col-6">
    <div class="row no-gutters align-items-center">
      <div class="col-3">
        <img class="mr-5 s-80x80" src={{course.logo}} alt={{course.title}}>
      </div>
      <div class="col-9">
        <h5 class="bold">{{course.title}}</h5>
        <div class="font-normal mt-2">Mentor: {{instrcutorNames}}</div>
        <div>Expires {{moment-from-now (unix run.topRunAttempt.end)}} </div>
      </div>
    </div>
  </div>
    {{yield run.topRunAttempt.progressPercent}}
  </div>