<div class="row no-gutters align-items-center mt-4">
  <div class="col-lg-4 col-sm-6 col-12">
    <div class="row no-gutters align-items-center">
      <div>
        <img class="s-60x60 br-5" src={{course.logo}} alt={{course.title}}>
      </div>
      <div class="flex-1 pl-4">
        <h5 class="bold">{{course.title}}</h5>
        <div class="font-normal mt-2">Mentor: {{instrcutorNames}}</div>
      </div>
    </div>
  </div>
  {{yield run.topRunAttempt.progressPercent}}
</div>