{{#if session.isAuthenticated}}
  <Tracks::TracksFilter 
    @status={{status}}
    @professionId={{professionId}}
    @onSearch={{action (perform onSearchTask)}} />
  <div class="divider-h my-3"></div>
  {{outlet}}
{{else}}
  <div class="container mt-5">
    <Tracks::TracksFilter 
    @status={{status}}
    @professionId={{professionId}}
    @onSearch={{action (perform onSearchTask)}} />
    <div class="divider-h my-3"></div>
    {{outlet}}
  </div>

{{/if}}