<div class="doubt-card">
  {{#if feedbackMode}}
    <DoubtFeedback @doubt={{doubt}} />
  {{else}}
    <div class="body">
      <div class="title">
        {{doubt.title}}
      </div>
      <div class="text">
        {{doubt.body}}
      </div>

      <div class="horizontal-half">
        <div class="pointer" {{action 'goToContent'}}>
          {{doubt.content.title}}
        </div>
        <div>
          {{doubt.updatedAt}}
        </div>
      </div>
      <form {{action "comment" on="submit"}}>
        {{input type="text" value=commentBody placeholder="Comment Now (Press enter to post)" disabled=commentTask.isRunning}}
      </form>
      {{#if err}}
        <div class="red card-md"><i class="fas fa-exclamation-triangle"></i> {{{err}}}</div>
      {{/if}}

      
      <div class="horizontal-half">
        {{#if (eq doubt.status "ACKNOWLEDGED")}}
          <button class="red" {{action "startChat"}}>
            Still have question? Start a chat
            <i class="fas fa-comment"></i>
          </button>
        {{/if}}
        <div class="button-solid">
          {{#if (eq doubt.status "RESOLVED")}}
            <button {{action "markStatus" "PENDING"}}>
              Reopen
            </button>
          {{else}}
            <button {{action "markStatus" "RESOLVED"}}>
              Resolve
            </button>
          {{/if}}
        </div>
      </div>
      

      {{#if existingComments.length}}
        <button class="comment-toggle" {{action "toggleThreadsCollapse"}}>
          {{if collapseThreads "Show" "Hide"}} {{existingComments.length}} Comments
          <i class="fas {{if collapseThreads "fa-caret-down" "fa-caret-up"}}"></i>
        </button>
      {{/if}}
    </div>
  
    {{#liquid-spacer growDuration=250 growWidth=false}}
      {{#unless collapseThreads}}
        <div class="threads">
          {{#each existingComments as |comment|}}
            <div class="thread">
              <div class="horizontal-half">
                <div class="title">{{comment.username}}</div>
                <div class="time">{{moment-from comment.updatedAt}}</div>
              </div>
            
              <div class="text">
                {{{comment.body}}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/unless}}
    {{/liquid-spacer}}
  {{/if}}
</div>
