<div class="classroom-container row">
  <div class="classroom-header-box col-md-6 col-12">
    <div class="classroom-header row">
      <div class="classroom-image col-2">
        <img src={{run.course.logo}}>
      </div>
      <h1 class="classroom-text col-10">
        {{#link-to 'courses.id' run.course.identifier activeClass=""}} {{run.course.title}} {{/link-to}}
        <div class="rating mob">
          {{#if runAttempt.premium}}
            {{#rating-stars course=run.course}} {{/rating-stars}}
          {{else}}
            {{rating-stars-static course=run.course reviewCount=true}}
          {{/if}}
        </div>
      </h1>
    </div>
    <h2 class="classroom-para">
      {{line-clamp
        text=run.course.summary
        lines=6}}
    </h2>
    <div class="rating">
      <br>
      {{#if runAttempt.premium}}
        {{#rating-stars course=run.course}} {{/rating-stars}}
      {{else}}
        {{rating-stars-static course=run.course reviewCount=true}}
      {{/if}}
    </div>
  </div>
  <div class="course-progress-box col-md-6 col-12">
    <div class="course-progress-heading row no-gutters">
      <div class="heading col-4 col-md-6 align-self-center">Course Progress</div>
      <div class="divider-h col-6 align-self-center"></div>
    </div>

    <div class="progress row no-gutters justify-content-around align-items-center">
      <div class="progress-circle col-3 col-md-3">
        <div class="status-circle">
          <div class="circle-back"></div>
          <div class="circle-front d-flex flex-column justify-content-center">
            <p class="progress-text">{{percentage run.completedContents run.totalContents}} %</p>
          </div>
        </div>
      </div>
      <div class="course-progress-detail col-5 col-md-9">
        <p class="heading-mob">Course Progress</p>
        <p class="lectures-completed">{{run.completedContents}} of {{run.totalContents}} Content completed</p>
        <p class="reset-progress pointer" {{action 'resetProgress'}}>Reset
          Progress</p>
      </div>
      <div class="offset-md-5 col-4 col-md-5">
        <div class="button-solid">
          {{#link-to 'attempt' run.topRunAttempt.id tagName="button" activeClass=""}} Resume Learning {{/link-to}}
        </div>
      </div>
    </div>



  </div>
</div>
<div class="tab-nav">
  {{link-to 'Overview' 'classroom.timeline.overview' class="tab-items" tagName="div"}}
  {{#link-to 'classroom.timeline.overview' class="tab-icons" tagName="div"}}
    <img src="/images/menu-white.svg" alt="Overview">
  {{/link-to}}
  {{link-to 'Course Content' 'classroom.timeline.contents'class="tab-items" tagName="div"}}
  {{#link-to 'classroom.timeline.contents'class="tab-icons" tagName="div"}}
    <img src="/images/docs-white.svg" alt="Course Content">
  {{/link-to}}
  {{link-to 'Announcements' 'classroom.timeline.announcements'class="tab-items" tagName="div"}}
  {{#link-to 'classroom.timeline.announcements'class="tab-icons" tagName="div"}}
  <img src="/images/announcement-white.svg" alt="Announcements">
  {{/link-to}}
  {{link-to 'Solve Your Doubts' 'classroom.timeline.doubts' class="tab-items" tagName="div"}}
  {{#link-to 'classroom.timeline.doubts' class="tab-icons" tagName="div"}}
    <img src="/images/support-white.svg" alt="Solve Your Doubts">
  {{/link-to}}
</div>
{{liquid-outlet}}
