<div class="classroom-container row">
    <div class="classroom-header-box col-md-6 col-sm-12 col-xs-12">
        <div class="classroom-header row">
            <div class="classroom-image col-md-2 col-xs-2 col-sm-2">
                <img src="/images/c++">
            </div>
            <div class="classroom-text col-md-10 col-xs-10 col-sm-10">
                {{run.course.title}}
            </div>
        </div>
        <p class="classroom-para">
            {{run.course.summary}}
        </p>
        <div class="rating">
          {{#rating-stars course=run.course}}
          {{/rating-stars}}
        </div>
    </div>
    <div class="course-progress-box col-md-6 col-sm-12 col-xs-12">
        <div class="course-progress-2">
            <p class="course-progress-heading">Course Progress</p>
            <div data-completed="false" class="status-circle col-md-2">
                <div class="circle-back">
                    <div class="circle-front">
                        <p class="progress-text"> {{percentage run.course.completedContents run.course.totalContents}} %</p>
                    </div>
                </div>
            </div>
            <div class="course-progress-detail col-md-10">
                <p class="lectures-completed">{{run.course.completedContents}} of {{run.course.totalContents}} Content completed</p>
                <p class="reset-progress" {{action 'resetProgress'}} >Reset Progress</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-5 col-md-5">
                <div class="button-solid">
                    {{#link-to 'attempt' run.topRunAttempt.id tagName="button"}}
                        Resume Learning
                    {{/link-to}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-nav">
    <div class="tab-list">
        {{link-to 'Overview' 'classroom.timeline.overview' class="tab-items" tagName="div"}}
        {{link-to 'Course Content' 'classroom.timeline.contents' class="tab-items" tagName="div"}}
        {{link-to 'Announcements' 'classroom.timeline.announcements' class="tab-items" tagName="div"}}
        {{link-to 'Solve Your Doubts' 'classroom.timeline.doubts' class="tab-items" tagName="div"}}
    </div>
</div>
{{liquid-outlet}}