{{#if showLeaderboard}}
<h3 class="t-align-c mb-5">
  Leaderboard
</h3>

<div class="c-overview-leaderboard">
  <div class="border-card">
    <div class="generate-scroll-y">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th data-field="rank">Rank</th>
            <th data-field="user">User</th>
            <th data-field="college">College</th>
            <th data-field="score">Score</th>
          </tr>
        </thead>
        <tbody>
          {{#each displayedLeaderboard as |row index|}}
            <tr>
              <td>{{inc index 1}}</td>
              <td>
                <img src="{{defaultPhoto row.photo row.id}}" class="img-circle marginR10" width="25">
                {{row.userName}}
              </td>
              <td>
                {{if (or (not row.collegeName) (eq row.collegeName '---OTHER / NOT LISTED / NO COLLEGE ---')) 'N/A' row.collegeName}}
              </td>
              <td>{{row.score}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#if (lt limit leaderboard.length)}}
        <div class="row justify-content-center">
          <button class="button-dashed" {{action 'loadMore'}}>Load More</button>
        </div>
      {{/if}}
    </div>
  </div>
</div>

{{/if}}